* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

$interactive-color: #FFF13F;
$hcw-light-brown: #E3865E;

html, body {
	background-color: #ffe;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 300;
	font-size: 110%;
}

html, body, p, h1 {
	margin: 0;
	padding: 0;
}

.layout {
	overflow: visible;
	margin: 0;
	padding: 25px 0;
	
	&.loading {
		height: 0;
		visibility: hidden;
	}
	
	&.dark .fixed_step:not(.selected) .block {
		color: black;
		
		&:before {
			background-color: white;
		}
	}

	&.dark .step .block {
		color: black;
		
		&:before {
			background-color: white;
		}
	}	
}

#container {
	background-color: #dd9;
}

.layout 
	{
		.spread {
		position: relative;
	
		/* this allowed adding margins after extracted sidebars */
		display: table;
		width: 100%;
	
		h1 {
			padding: .25em;
		}
	
		canvas {
			position: absolute;
			overflow: visible;
			z-index: 2;
			pointer-events: none;
			user-select: none;
		}
	
		.callout-line-target {
			position: absolute;
		}	
	}
	
	.callout-line {
		-webkit-filter: drop-shadow(1px 1px 2px #333);
	}
	
	/* drop shadow for white callout lines */
	&.dark .callout-line {
		-webkit-filter: drop-shadow(1px 1px 2px black);
	}
}

.step {
	padding-left: 2.75em;
	
	&.no-number {
		padding-left: 0;
	}
	
	.image {
		margin: 10px;
		cursor: -webkit-zoom-in;
	}
	
	.clear-left {
		float: left;
		clear: left;
	
		&.image {
			margin-right: 20px;
			margin-top: 20px;
		}
	}

	.clear-right {
		float: right;
		clear: right;
	
		&.image {
		}
	}
	
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.textblock {
	.span-text div {
		margin-top: .5em;
	}
}

.spread.fixed, .spread.panzoom, .spread.swipe {
	margin-left: auto;
	margin-right: auto;
	
	h1 {
		color: white;
		background-color: black;
	}
	
	.step {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.image_holder {
		position: relative;
		
		img {
			cursor: -webkit-zoom-in;
		}
		
		.nav-button {
			position: absolute;
			width: 100px;
			height: 100px;
			margin-top: -50px;
			background-color: #3F4756;
			border-radius: 25px;
			box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
			font-family: FontAwesome;
			line-height: 100px;
			font-size: 60px;
			text-align: center;
			color: white;
			cursor: pointer;
		
			&:hover {
				color: #911;
			}
			
			&:active {
				background-color: black;
			}
			
			&.next {
				top: 50%;
				right: -100px;
				margin-right: -10px;
			}
			
			&.prev {
				top: 50%;
				left: -100px;
				margin-left: -10px;
			}
		}
	}
	
	.intro-text {
		padding: .5em 1em 1em 1em;
	}
	
	.fixed_step {
		position: absolute;
		padding-left: 2.75em;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		/* to prevent incidental double-click selecting text while clicking through text: */
		user-select: none;
		-webkit-user-select: none;
		
		&.no-number {
			padding-left: 1em;
			padding-right: 1em;
		}
		
		h2 {
			font-size: 120%;
			margin: .3em 0 .25em 0;
		}
		
		&.selected {
			color: black;
		}
		
		.textblock {
			line-height: 1.2em;
			
			.span-text {
				font-size: 90%;
				
				div {
					margin-top: .4em;
				}
			}
			
			.column:nth-child(1n+2) {
				display: none;
			}			
		}

		&:hover .textblock {
		}
		
		.shape {
			/*transition: transform .5s ease-in-out;*/
			transform-origin: 0 0;
		}
		
		&:not(.selected) .shape {
			z-index: 1;
			
			&:before {
				box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
			}
		}
		
		/*		
		&:not(.selected) h2 {
			background-color: #ddf;
			border: 2px solid black;
			border-radius: 15px;
			text-align: center;
			padding: .25em 1em;
			box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
			text-shadow: -1px 1px 1px #999;
			font-weight: 100;
			z-index: 1;
		}
		*/
		
		.bounds {
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
		}
		
		.textholder {
			pointer-events: none;
			overflow: hidden;			
		}

		
		&:not(.selected):hover {
			& .bounds {
				background-color: orange;
			}
		}
		
		&:not(.selected) .bounds {
			border-radius: 15px;
			border: 2px dashed;
			opacity: .3;			
		}
		
		.controls {
			position: absolute;
			right: 0;
			font-size: 15px;
			color: black;
			
			.button {
				position: relative;
				width: 15px;
				height: 15px;
				line-height: 15px;
				display: inline-block;
				
				&:before {
					top: 0;
					left: 0;
					position: absolute;
					font-family: FontAwesome;
				}

				&:hover:before {
					color: #911;
				}
								
				&.dot:before {
					content: "\0f10c";
				}
				
				&.dot.selected:before {
					content: "\0f111";
				}
				
				&.dot.selected:hover:before {
					color: black;
				}
				
				&.dot:hover:before {
					content: "\0f111";
				}
				
				&.left-arrow:before {
					content: "\0f053";
				}
				
				&.right-arrow:before {
					content: "\0f054";
					left: 3px;
				}				
			}
		}
		
		&:not(.selected) {
			.textblock {
				opacity: .75;
			}
			
			& .controls {
				display: none;
			}
		}
	}
	
	.fixed_region {
		position: absolute;		
	}
	
	.fixed-region.label {
		position: absolute;
		display: inline-block;
		background: black;
		color: white;
		font-weight: bold;
		font-size: 16px;
		line-height: 1rem;
		border-radius: 1rem;
		text-align: center;
		margin: 0;
		padding: .5rem .5rem;
		font-family: 'Oswald', sans-serif;
		white-space: nowrap;

		transition: transform .5s ease-in-out;
		
		&.zoomed {
		}
		
		&:hover {
			box-shadow: 0 6px 8px rgba(0, 0, 0, .5);
			transform: scale(1.5);
			transition: transform .1s linear;
			cursor: pointer;
			z-index: 1;
		}
	}	
	
	.step.extracted {
		max-width: 800px;
		margin: 0 auto;
	}
	
	.sidebar.extracted {
		max-width: 800px;
		margin: 15px auto;		
	}
	
	.cell-image.extracted {
		margin: 15px auto;
		text-align: center;
	}
	
	.highlight {
		pointer-events: none;
		z-index: 2;
		position: absolute;
		background-color: rgba(255, 255, 255, 0);
		border-radius: 15px;
		display: block;
		left: 0;
		top: 0;

		-webkit-transition: -webkit-transform .5s ease, width .5s ease, height .5s ease, background-color 1.0s ease;
		
		&.highlighted {
			background-color: rgba(255, 255, 255, 1.0);
			box-shadow: 0 10px 15px rgba(0,0,0,.3), 0 0 30px rgba(0,0,0,.3) inset;
		}		
	}
	
	/* leave a little space around extracted steps */
	h1 + .step.extracted {
		margin-top: 25px;
	}
	
	.step.extracted + .image_holder {
		margin-top: 25px;
	}
	
	.step.extracted:last-child {
		padding-bottom: 25px;
	}
}

.spread.grid {
	padding-bottom: 50px;
	max-width: 1080px;
	margin: 0 auto;

	.step {
		position: relative;
	}
	
	.interactive {
		min-height: 50px;
		
		margin: 0 auto;
		
		.try-me {
			position: absolute;
			top: 0;
			left: 0;
		}
		
		.interactive-contents {
			text-align: center;
			overflow: hidden;
			border: 10px solid $interactive-color;
			position: relative;
			transition: border .2s linear;
			
			&:hover {
				border: 10px solid white;
			}
			
			&:hover:after {
				content: "interactive";
				background-color: $interactive-color;
				padding: 0 3em 0 .5em;
				border-radius: .5em 0 0 .5em;
				font-size: 150%;
				position: absolute;
				top: 10%;
				right: -20em;
				color: black;
				transition: right .5s linear;
			}
			
			&:not(:hover):after {
				content: "interactive";
				background-color: $interactive-color;
				padding: 0 3em 0 .5em;
				border-radius: .5em 0 0 .5em;
				font-size: 150%;
				position: absolute;
				top: 10%;
				right: 0;
				color: black;
				transition: right .5s linear;
			}
		}
				
		.pullover {
			position: absolute;
			right: 0;
			background-color: $interactive-color;
			color: black;
			text-transform: lowercase;
			font-size: 175%;
			border-radius: .5em 0 0 .5em;
			box-shadow: 0 4px 8px #666;
			padding: 0 2em 0 .5em;
			transition: all .25s linear;
			cursor: pointer;
			z-index: 1;
			
			&:after {
				content: "\f138";
				font-family: FontAwesome;
				position: absolute;
				left: 80%;
				color: white;
			}
			
			&:hover {
				padding-right: 6em;
			}
		}
	}
	
	.video video {
		display: block;
		margin: 0 auto;
	}
}

.spread.panzoom {
	.text_holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 80%;
		background: rgba(200, 50, 50, .75);
		padding: 1rem;
		margin-top: 10%;
		margin-left: 1em;
		color: white;
		overflow-y: scroll;
	}
	
	.viewport {
		width: 100%;
		height: 100%;
		overflow: hidden;
		
		.image_wrapper {
			transition: transform .5s ease-in-out, transform-origin .5s ease-in-out;
			
			&.zoomedIn {
				cursor: pointer;
			}
		}
	}
}

.spread.swipe {
	width: 100%;
	max-width: 1080px;
	
	.widget {
		width: 100%;
		margin: 25px auto 0 auto;
		background: inherit;
		overflow: hidden;		
	}

	.controls {
		width: 100%;
		height: 50px;
		margin-bottom: 25px;
	}
	
	.text_holder {
		width: 20%;
		float: left;
		height: 100%;
		background: rgba(200, 50, 50, .75);
		padding: 1rem;
		color: white;
		overflow-y: scroll;
		
		.block {
			position: relative;
			top: auto;
			left: auto;
		}
		
		.index {
			.block {
				display: block;
				margin: 10px;
				transition: background-color .5s linear, color .5s linear;
				cursor: pointer;
			
				&:hover {
					color: black;
					
					&:before {
						background-color: white !important;
					}
				}
			}
		}
		
		h1 {
			font-size: 150%;
			color: black;
			background: none;
		}		
	}

	.image_wrapper {
	}
	
	.image_holder {
		overflow-y: scroll;
		float: right;
		width: 80%;
		height: 100%;
		border: 2px solid black;
		border-bottom: none;
	}
	
	.shape {
		z-index: 1;
		/* this shadow was awfully blurry when scaled up via transform
		-webkit-filter: drop-shadow(-4px 4px 6px rgba(0, 0, 0, .5));
		*/
	}
	
	section.swipe_region {
		overflow: hidden;
	}	
}

.fixed-controls {
	display: table;
	background-color: #222;
	
	.nav-buttons {
		display: table-cell;
		width: 90px;
		text-align: center;
	}
	
	.main-buttons {
		display: table-cell;
		padding-top: 6px;
		text-align: center;
	}
	
	.btn {
		border: none;
		cursor: pointer;
		background: none;
		margin: 5px;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		outline: none;
		position: relative;

		color: white;
		font-weight: bold;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		width: 28px;
		height: 28px;
		padding: 0;
		font-family: 'Oswald', sans-serif;
		
		&:before {
			content: "";
			background-color: black;
			display: block;
			width: 100%;
			height: 100%;
			transition: transform .5s linear, background-color .5s linear;
		}

		span {
			position: absolute;
			top: -1px;
			left: 0;
			width: 100%;
			text-align: center;
		}
		
		span.up {
			top: -3px;
		}
		
		&:hover {
			color: black;
			
			&:before {
				background-color: white;
			}
		}
		
		&:active {
			&:before {
				background-color: #666;
			}
		}
		
		/* diamond */
		&.selected {
			&:before {
				background-color: red;
				transform: rotate(45deg);
			}
	
			span {
			}	
		}
	}
}

.interactive-contents.full-screen {
	margin: 0 auto;
	
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .75);
		pointer-events: none;
		z-index: -1;
	}
	
	&.expanded {
		transform: scale(1.0);
	}
	
	#interactive-close {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	iframe {
		display: block;
		margin: 0 auto;
		transform-origin: 0 0;
		padding: 10px;
		background-color: $interactive-color;
	}
}

button.basic {
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	background-color: black;
	padding: 0;
	color: #ddd;
	cursor: pointer;
	
	&:hover {
		background-color: #666;
		color: white;
	}
}

div.sidebar {
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transition: top .5s ease, height 1s ease;
	
	h2 {
		display: block;
		font-weight: bold;
		padding: .5em .5em;
		margin: 0;
		font-size: 16px;
		line-height: 24px;
		background-color: #e0d988;
		border-bottom: 2px solid black;
		text-align: left;
	}
	
	.interior {
		p {
			padding: .75em .5em .75em .5em;
			font-size: 14px;
			line-height: 1.5em;
		}
		
		div {
			margin-top: .5em;
		}
	
		img {
			display: block;
			margin: 0 auto;
			padding: 10px;
			max-width: 100%;
			cursor: -webkit-zoom-in;
		}
	}
}

div.sidebar.factoid {
	.interior {
	}
}

div.cell {
/*
	border: 2px solid black;
	border-radius: 15px;
*/
	margin: 15px 5px;
	padding: 1em;
	width: 49%;
	/* leave cell overflow visible so the callout lines can extend beyond the cell? */
/*	overflow: hidden;*/

	.top {
		margin: 0 auto;
	}
	
	.bottom {
		margin: 0 auto;
	}		
}

.cell-image {
	img {
		display: block;
		margin: 0 auto;
		cursor: -webkit-zoom-in;
	}
}

.diamond {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	width: 25px;
	height: 25px;
	position: absolute;
	left: 5px;
	font-family: 'Oswald', sans-serif;
	
	&:before {
		content: "";
		background-color: red;
		display: block;
		width: 100%;
		height: 100%;
		-webkit-transform: rotate(45deg);
	}
	
	span {
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		text-align: center;
	}	
}

.block {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	width: 28px;
	height: 28px;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	
	/*
	position: relative;
	margin-left: -38px;
	margin-right: 10px;
	*/
	position: absolute;
	left: 5px;
	top: -8px;
	
	&:before {
		content: "";
		background-color: black;
		display: block;
		width: 100%;
		height: 100%;
	}
	
	span {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		text-align: center;
	}
}

span.glossary {
	font-weight: bold;
}

.spacer {
	width: 0;
}

div.image-callout {
	font-size: 12px;
	position: absolute;
	padding: 0 1.5em;
	
	span {
		display: block;
		padding: 0 3px;
	}
}

.toc-container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	z-index: 0;
}

.toc {
	width: 100%;
	background-color: #ddd;
	
	.entry {
		width: 100%;
		background-color: #a0a0ff;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		color: white;
		line-height: 70px;
		padding-left: 1em;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		cursor: pointer;
		
		&.selected {
			background-color: brown !important;
			color: white !important;
		}
		
		&:hover:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .2);
			z-index: 0;
		}
		
		&.chapter {
			height: 70px;
			font-size: 24px;
			text-shadow: -1px 1px 2px #666;
		}
		
		&.toc-chapter {
			padding-left: .25rem;
			color: black;
			
			.title {
				text-shadow: none;
			}
		}
		
		&.toc-part {
			background-color: wheat !important;
			color: black;
			padding-left: .25rem;
			
			.title {
				text-shadow: none;
			}
		}
		
		&.spread {
/*			height: 0 !important;*/
		}
		
		&:hover {
			.number {
				color: black;
			}
		}
		
		.number {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			font-size: 3rem;
			padding-left: .25em;
		}
		
		.title {
/*			position: absolute;
			bottom: 0;
			right: 0;
			*/
			font-size: 1.25rem;
			text-align: right;
			padding: .5em .5em .5em .25em;
			line-height: 1.25em;
			text-shadow: 1px 1px 4px black;
			font-weight: 400;
			z-index: 100;
			
			.chapter {
				text-align: left;
				font-weight: 700;
				margin-bottom: .5rem;
				border-bottom: 2px solid rgba(0, 0, 0, .5);
				text-transform: uppercase;
			}
		}
		
		.thumbnail {
			display: none;
			position: absolute;
			right: 1em;
			top: 1em;
			height: 50%;
			width: 50%;
			background-size: contain;
			opacity: .5;
		}
	}
}

#toc {
	-webkit-overflow-scrolling: touch;
}

#toc-header {
	#header {
		background-color: #3a3a3a;
		width: 100%;
		height: 100%;
		color: white;
		text-align: center;
		padding: 14px 0 0 0;
		margin: 0;
		
		.half {
			width: 50%;
		}
		
		.left {
			float: left;
		}
		
		.right {
			float: right;
		}
		
		.tiny {
			font-size: 10px;
			line-height: 8px;
		}
		
		.number {
			font-size: 24px;
		}
	}
}

#toc-footer {
	#search-area {
		width: 100%;
		height: 100%;
		line-height: 70px;
		background-color: #3A3A3A;
		
		i {
			color: white;
			padding: 10px;
			width: 20%;
			text-align: center;
		}
		
		#search-box {
			background: none;
			border: 2px solid #aaf;
			font-size: 110%;
			line-height: 1.5rem;
			height: 2rem;
			width: 70%;
			border-radius: 15px;
			color: white;
			vertical-align: middle;
			padding: 8px;
			outline: none;
		}
	}
}

#main-content {
	-webkit-overflow-scrolling: touch;
}

#main-center {
	overflow: hidden !important;
}

#content {
	position: relative;
	overflow: scroll;
	height: 100%;
}

#content-holder {
	background-color: wheat;
	width: 100%;
	box-shadow: 12px 0 24px -12px rgba(0, 0, 0, .7) inset;
	padding: 15px;
	
	/*
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	*/
	
	position: relative;
}

#main-south {
	background-color: #efeffe !important;
	
	#search-text {
		color: #D4D4D4;
		line-height: 70px;
		font-size: 24px;
		padding-left: 2em;
		vertical-align: top;
		position: absolute;
	}
}

#fixed-layout-controls {
	position: fixed;
	bottom: 0;
	z-index: 10;
	text-align: center;
	height: 70px;
	white-space: nowrap;
	background-color: #efeffe;
	border-radius: 15px 15px 0 0;
	max-width: 100%;
	padding: 0 0;
	overflow-x: scroll;
	box-shadow: 0 -3px 5px rgba(0, 0, 0, .5);
	
	.btn {
		border: none;
		cursor: pointer;
		background: none;
		margin: 5px;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		outline: none;
		position: relative;

		transition: all 0.3s;
		color: white;
		font-weight: bold;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		width: 28px;
		height: 28px;
		padding: 0;
		font-family: 'Oswald', sans-serif;

		&:before {
			content: "";
			background-color: black;
			display: block;
			width: 100%;
			height: 100%;
		}

		span {
			position: absolute;
			top: -1px;
			left: 0;
			width: 100%;
			text-align: center;
		}
	}
	
	.arrow-button {
		border: none;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		background: none;
		cursor: pointer;
		padding: 0 20px;
		height: 90%;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		outline: none;
		position: relative;
		transition: background 0.1s;

		border: 3px solid #55A;
		border-radius: 15px;
		color: #55A;
		margin: 0 5px;
		top: 5%;

		overflow: hidden;
	}
	
	#previous-button:before {
		content: "\f053";
		position: absolute;
		left: 130%;
		transition: all 0.3s;
	}
	
	#previous-button:hover:before {
		left: 50%;
	}
	
	#previous-button:active {
		color: white;
		background: black;
	}
	
	#next-button:before {
		content: "\f054";
		position: absolute;
		left: -30%;
		transition: all 0.3s;
	}

	#next-button:hover:before {
		left: 25%;
	}
	
	#next-button:active {
		color: white;
		background: black;
	}
	
	div#direct-buttons {
		display: inline;
		height: 100%;
		white-space: nowrap;
	}
	
	button#previous-button, button#next-button {
		font-family: FontAwesome;
		background-color: #3F4756;
		color: white;
		border: none;
	}
}

#prev-ad {
	display: none;
}

#next-ad {
	display: none;
}

.ad {
	height: 150px;
	background-color: black;
	color: white;
	margin-top: 25px;
	display: inline-block;
	width: 100%;
	line-height: 150px;
	text-align: center;
}

#current-spread-name {
	position: fixed;
	z-index: 5;
	transition: top 1s ease-in-out;
	top: -50px;
	display: none;
	
	h1 {
		padding: .1em 1em .1em 1em;
		background-color: #333;
		color: white;
		border-radius: 0 0 15px 0;
		border-right: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		font-size: 1.5rem;
	}
}

/* Loading spinner: */

.spinner {
  margin: 300px auto;
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
}

.cube1, .cube2 {
  background-color: black;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* ^ Loading spinner */

.testrect {
	position: absolute;
	border: 1px solid yellow;
	pointer-events: none;
}

#results-pane {
	position: fixed;
	bottom: 70px;
	z-index: 10;
	min-width: 300px;
	max-width: 50%;
	display: none;
	
	#results-header {
		background: red;
		height: 2rem;
		line-height: 2rem;
		border-radius: 0 25px 0 0;
		
		#label {
			font-size: 150%;
		}
		
		#close-button {
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			
			.fa-times {
				font-size: .75em;
				margin-top: -1px;
			}			
		}
		
		#close-button:hover {
			.fa-times {
				color: #999;
			}
		}	
	}
	
	#results-scroller {
		background: white;
		padding: 1rem 0;
		max-height: 500px;
		width: auto;
		overflow: scroll;
		
		.all-results {
		}
		
		.result {
			white-space: nowrap;
			text-overflow: ellipsis;
			padding: 0 1em;
			cursor: pointer;
			width: auto;
			overflow: hidden;
			
			&:hover {
				background: #116;
				color: white;
			}
		}
	}
	
	#results-summary {
		background: orange;
		padding-left: 1rem;
	}
}

.spread.page {
	max-width: 1080px;
	margin: 0 auto;
	
	header {
		padding: 1rem 0 2rem 0;
		
		div.number {
			p:first-child {
				padding: 0;
				margin: 0;
				font-size: 2rem;
				line-height: 2rem;
				letter-spacing: .3rem;
				text-transform: uppercase;
			}
	
			p:nth-child(2) {
				font-size: 12rem;
				font-weight: 700;
				line-height: 12rem;
				font-family: 'Oswald', sans-serif;
				padding: 0;
				margin: 0;
			}
		}
		
		h1 {
			font-weight: 700;
			color: black;
			font-size: 6rem;
			line-height: 6rem;
		}

		&.part {
			background-color: white;
			
			h1 {
				text-align: center;
			}
			
			div.number {
				color: $hcw-light-brown;
				text-align: center;
				
				p:first-child {
					letter-spacing: 2rem;
				}
			}

			.chapters {
				text-transform: uppercase;
				text-align: center;
				border-bottom: 1px solid black;
				font-size: 125%;
				letter-spacing: 1.5rem;
				font-weight: 700;
				color: $hcw-light-brown;
				padding: 2rem 0 .5rem 0;
				margin: 0 5rem;
			}
			
			.chapter-listing {
				display: block;
				text-decoration: none;
				margin-top: 1rem;
				text-transform: uppercase;
				font-weight: bold;
				text-align: center;
				cursor: pointer;
				
				.number {
					color: $hcw-light-brown;
					padding-right: 2rem;
					letter-spacing: .2rem;
				}
				
				.title {
					color: black;
				}
				
				&:hover {
					.number, .title {
						color: #04a;
					}
				}
			}			
		}
				
		&.chapter {		
			div.number {
				width: 30%;
				float: left;
				color: white;
				text-align: center;		
			}
	
			h1 {
				width: 70%;
				float: left;
			}
		}
		
		&:after {
			clear: both;
			display: block;
			content: "";
		}
	}
	
	section.page {
		background-color: white;
		padding: 2rem 3rem;
		box-shadow: 0 12px 36px -12px rgba(0, 0, 0, 0.7) inset;
		
		line-height: 1.7rem;
		
		section {
			padding-bottom: 1.5rem;
			
			p:nth-child(n+2) {
				text-indent: 2rem;
			}			
		}
		
		a {
			text-decoration: none;
			color: #3879D9;
			
			&:hover {
				color: #04a;
			}
		}
		
		h1 {
			font-size: 200%;
			font-family: Oswald, sans-serif;
			font-weight: 400;
			margin-top: 2rem;
			
			clear: both;
		}
		
		.center {
			display: block;
			margin: 0 auto;
			padding-bottom: 2rem;
		}
		
		.left {
			float: left;
		}
		
		.right {
			float: right;
		}
		
		.drop-cap {
			margin: -5px 5px 0 0;
			float: left;
		}
		
		img {
			margin: 10px;
		}
		
		figure {
			font-size: .75em;
			line-height: 1.4em;
			display: table;
			padding: 5px;
			margin: 10px;
		}
		
		figure img {
			display: block;
			max-width: 100%;
		}
		
		figcaption {
			display: table-caption;
			caption-side: bottom;
			padding: 0 5px 5px;
			margin: 0 10px;
		}
		
		footer {
			font-size: .83rem;
			vertical-align: super;
		}
		
		blockquote {
			font-style: italic;
			
			footer {
				font-weight: 700;
				text-align: right;
				
				cite {
					font-style: normal;
				}
				
				&:before {
					content: "—";
					display: inline;
					padding-right: 3px;
				}
			}
		}
		
		span.italic {
			font-style: italic;
		}
		
		span.bold {
			font-weight: bold;
		}
		
		span.super {
			vertical-align: super;
			font-size: 60%;
		}
		
		span.init-cap-words {
			color: $hcw-light-brown;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 150%;
			font-family: 'Oswald', sans-serif;
		}
		
		ul li:after {
			clear: both;
			content: "";
			display: block;
		}
	}
}