* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

$interactive-color: #FFF13F;
$hcw-light-brown: #E3865E;

html, body {
	background-color: #ffe;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: 300;
	font-size: 110%;
}

html, body, p, h1 {
	margin: 0;
	padding: 0;
}

body {
	overflow-y: scroll;
}

.layout {
	overflow: visible;
	margin: 0;
	padding: 25px 0;
	
	&.loading {
		height: 0;
		visibility: hidden;
	}
	
	&.dark .fixed_step:not(.selected) .block {
		color: black;
		
		&:before {
			background-color: white;
		}
	}

	&.dark .block {
		color: black;
		
		&:before {
			background-color: white;
		}
	}	
}

#container {
	background-color: #dd9;
}

.layout {
	.spread {
		position: relative;

		/* this allowed adding margins after extracted sidebars */
		display: table;
		width: 100%;

		h1 {
			padding: .25em;
		}

		canvas {
			position: absolute;
			overflow: visible;
			z-index: 2;
			pointer-events: none;
			user-select: none;
		}

		.callout-line-target {
			position: absolute;
		}	
	}

	.callout-line {
		-webkit-filter: drop-shadow(1px 1px 2px #333);
	}

	/* drop shadow for white callout lines */
	&.dark .callout-line {
		-webkit-filter: drop-shadow(1px 1px 2px black);
	}
}

.step {
	padding: 1em 1em 1em 2.75em;
	
	h2 {
		margin: 0;
		line-height: 1.2em;
	}
	
	&.no-number {
		padding-left: 0;
	}
	
	&.no-number.with-callout {
		padding: 1em;
		border-radius: 1em;
		border: 1px dashed rgba(0, 0, 0, .5);
	}
	
	.image {
		margin: 10px;
		padding: 10px;
		cursor: -webkit-zoom-in;
	}
	
	.clear-left {
		float: left;
		clear: left;
	
		&.image {
			margin-right: 20px;
			margin-top: 20px;
		}
	}

	.clear-right {
		float: right;
		clear: right;
	
		&.image {
		}
	}
	
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	
	ul {
		& > li {
			position: relative;
			list-style: none;
			
			&:before {
				content: "";
				position: absolute;
				top: .5em;
				left: -1em;
				width: 8px;
				height: 8px;
				display: block;
				background-color: $hcw-light-brown;
			}
		}
	}	
}

.textblock {
	.span-text div {
		margin-top: .5em;
	}
}

.spread.fixed, .spread.panzoom {
	margin-left: auto;
	margin-right: auto;
	
	h1 {
		color: white;
		background-color: black;
	}
	
	.step {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	.image_holder {
		position: relative;
		
		/* this fixed the jerky scrolling on iOS: */
		-webkit-overflow-scrolling: auto;
		
		.image_wrapper.zoomedIn img {
			cursor: -webkit-zoom-out;
		}
		
		.nav-button {
			position: absolute;
			width: 100px;
			height: 100px;
			margin-top: -50px;
			background-color: #3F4756;
			border-radius: 25px;
			box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
			font-family: FontAwesome;
			line-height: 100px;
			font-size: 60px;
			text-align: center;
			color: white;
			cursor: pointer;
		
			&:hover {
				color: #911;
			}
			
			&:active {
				background-color: black;
			}
			
			&.next {
				top: 50%;
				right: -100px;
				margin-right: -10px;
			}
			
			&.prev {
				top: 50%;
				left: -100px;
				margin-left: -10px;
			}
		}
	}
	
	.intro-text {
		padding: .5em 1em 1em 1em;
	}
	
	.fixed_step {
		position: absolute;
		padding-left: 2.75em;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		/* to prevent incidental double-click selecting text while clicking through text: */
		user-select: none;
		-webkit-user-select: none;
		
		&.no-number {
			padding-left: 1em;
			padding-right: 1em;
		}
		
		h2 {
			font-size: 120%;
			margin: .3em 0 .25em 0;
		}
		
		&.selected {
			color: black;
		}
		
		.textblock {
			line-height: 1.2em;
			
			.span-text {
				font-size: 90%;
				
				div {
					margin-top: .4em;
				}
			}
			
			.column:nth-child(1n+2) {
				display: none;
			}			
		}

		&:hover .textblock {
		}
		
		.shape {
			transform-origin: 0 0;
			-webkit-transform-origin: 0 0;
		}
		
		&:not(.selected) .shape {
			z-index: 1;
			
			&:before {
				box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
			}
		}
		
		.bounds {
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
		}
		
		.textholder {
			pointer-events: none;
			overflow: hidden;
		}

		
		&:not(.selected):hover {
			& .bounds {
				background-color: orange;
			}
		}
		
		&:not(.selected) .bounds {
			border-radius: 15px;
			border: 2px dashed;
			opacity: .3;			
		}
		
		.controls {
			position: absolute;
			right: 0;
			font-size: 15px;
			color: black;
			
			.button {
				position: relative;
				width: 15px;
				height: 15px;
				line-height: 15px;
				display: inline-block;
				
				&:before {
					top: 0;
					left: 0;
					position: absolute;
					font-family: FontAwesome;
				}

				&:hover:before {
					color: #911;
				}
								
				&.dot:before {
					content: "\0f10c";
				}
				
				&.dot.selected:before {
					content: "\0f111";
				}
				
				&.dot.selected:hover:before {
					color: black;
				}
				
				&.dot:hover:before {
					content: "\0f111";
				}
				
				&.left-arrow:before {
					content: "\0f053";
				}
				
				&.right-arrow:before {
					content: "\0f054";
					left: 3px;
				}				
			}
		}
		
		&:not(.selected) {
			.textblock {
				opacity: .75;
			}
			
			& .controls {
				display: none;
			}
		}
	}
	
	.fixed_region {
		position: absolute;		
	}
	
	.fixed-region.label {
		position: absolute;
		display: inline-block;
		background: black;
		color: white;
		font-weight: bold;
		font-size: 16px;
		line-height: 1rem;
		border-radius: 1rem;
		text-align: center;
		margin: 0;
		padding: .5rem .5rem;
		font-family: 'Oswald', sans-serif;
		white-space: nowrap;

		transition: transform .5s ease-in-out;
		-webkit-transition: -webkit-transform .5s ease-in-out;
		
		&.zoomed {
		}
		
		&:hover {
			box-shadow: 0 6px 8px rgba(0, 0, 0, .5);
			transform: scale(1.5);
			transition: transform .1s linear;
			-webkit-transform: scale(1.5);
			-webkit-transition: -webkit-transform .1s linear;
			cursor: pointer;
			z-index: 1;
		}
	}	
	
	.step.extracted {
		max-width: 800px;
		margin: 0 auto;
	}
	
	.sidebar.extracted {
		max-width: 800px;
		margin: 15px auto;		
	}
	
	.cell-image.extracted {
		margin: 15px auto;
		text-align: center;
	}
	
	.highlight {
		pointer-events: none;
		z-index: 2;
		position: absolute;
		background-color: rgba(255, 255, 255, 0);
		border-radius: 15px;
		display: block;
		left: 0;
		top: 0;

		transition: transform .5s ease, width .5s ease, height .5s ease, background-color 1.0s ease;
		-webkit-transition: -webkit-transform .5s ease, width .5s ease, height .5s ease, background-color 1.0s ease;
		
		&.highlighted {
			background-color: rgba(255, 255, 255, 1.0);
			box-shadow: 0 10px 15px rgba(0,0,0,.3), 0 0 30px rgba(0,0,0,.3) inset;
		}		
	}
	
	/* leave a little space around extracted steps */
	h1 + .step.extracted {
		margin-top: 25px;
	}
	
	.step.extracted + .image_holder {
		margin-top: 25px;
	}
	
	.step.extracted:last-child {
		padding-bottom: 25px;
	}
	
	.block, .diamond {
		cursor: pointer;
	}
}

.spread.grid {
	padding-bottom: 50px;
	max-width: 1080px;
	margin: 0 auto;
	
	.step {
	
		span.intro {
			text-transform: uppercase;
			font-weight: 800;
		}
		
		p.intro.span-text::first-letter {
			font-size: 120%;
		}
		
		position: relative;
		
		&.with-callout {
			cursor: pointer;
			/*
			border: 2px dashed gray;
			border-radius: 15px;
			
			transition: border .1s linear, background-color .5s ease-in-out;
			
			&:hover {
				border: 2px solid rgba(0, 0, 0, 0);
				background-color: inherit;
			}
			*/
		}
		
		i.callout-icon {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
	.video video {
		display: block;
		margin: 0 auto;
	}
}

.interactive {
	min-height: 50px;
	
	.try-me {
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.interactive-contents {
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
		border: 10px solid $interactive-color;
		position: relative;
		transition: border .2s linear;
		box-sizing: content-box;
		
		iframe {
			position: absolute;
			left: 0;
		}
		
		&:hover {
			border: 10px solid white;
		}
		
		&:hover:after {
			content: "interactive";
			background-color: $interactive-color;
			padding: 0 3em 0 .5em;
			border-radius: .5em 0 0 .5em;
			font-size: 150%;
			position: absolute;
			top: 10%;
			right: -20em;
			color: black;
			transition: right .5s linear;
		}
		
		&:not(:hover):after {
			content: "interactive";
			background-color: $interactive-color;
			padding: 0 3em 0 .5em;
			border-radius: .5em 0 0 .5em;
			font-size: 150%;
			position: absolute;
			top: 10%;
			right: 0;
			color: black;
			transition: right .5s linear;
		}
	}
			
	.pullover {
		position: absolute;
		right: 0;
		background-color: $interactive-color;
		color: black;
		text-transform: lowercase;
		font-size: 175%;
		border-radius: .5em 0 0 .5em;
		box-shadow: 0 4px 8px #666;
		padding: 0 2em 0 .5em;
		transition: all .25s linear;
		cursor: pointer;
		z-index: 1;
		
		&:after {
			content: "\f138";
			font-family: FontAwesome;
			position: absolute;
			left: 80%;
			color: white;
		}
		
		&:hover {
			padding-right: 6em;
		}
	}
}

.spread.panzoom {
	span.intro {
		text-transform: uppercase;
		font-weight: 800;
	}
	
	p.intro.span-text::first-letter {
		font-size: 120%;
	}
	
	.preamble {
		margin: 0 25px -50px 25px;
		position: relative;
		z-index: 2;
				
		.preamble-text {
			height: auto;
			background: rgb(200, 50, 50);
			left: 25px;
			right: 25px;
			margin-top: 25px;
			z-index: 2;
			color: white;
			box-shadow: 3px 3px 16px black;

			.step.extracted {
				max-width: none;
			}
			
			.preamble-footer {
				background-color: $hcw-light-brown;
				color: black;
				padding: 10px 25px;
				text-transform: uppercase;
				
				span.red {
					color: #AE240C;
					font-weight: bold;
				}
				
				cursor: pointer;
				
				transition: background-color .1s linear;
				
				&:hover {
					background-color: #EDBBA6;
				}
			}
		}
		
		&.zoomedIn {
			margin: 0;
			
			.preamble-text {
				box-shadow: none;
				padding-bottom: 25px;
			}
			
			.preamble-footer {
				display: none;
			}
		}
	}
	
	.text_holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 25%;
		min-width: 200px;
		height: auto;
		max-height: 90%;
		background: rgba(200, 50, 50, .75);
		padding: 1rem;
		margin-top: 42px;
		margin-left: 1em;
		color: white;
		overflow-y: scroll;
		word-wrap: break-word;			

		/* force scrollbars on Mac? (Chrome only) */
		&::-webkit-scrollbar {
		  -webkit-appearance: none;
		  width: 7px;
		}
		
		&::-webkit-scrollbar-thumb {
		  border-radius: 4px;
		  background-color: rgba(0, 0, 0, .5);
		  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
		}
	}
	
	.viewport {
		width: 100%;
		height: 100%;
		overflow: hidden;
		
		.image_wrapper {
			transition: transform 2s ease-in-out, transform-origin 2s ease-in-out;
			-webkit-transition: -webkit-transform 2s ease-in-out, -webkit-transform-origin 2s ease-in-out;
		}
	}
	
	.image_wrapper:not(.zoomedIn) .shape:hover {
		transform: scale(1.5);
		transition: transform .25s ease-in-out;
		-webkit-transform: scale(1.5);
		-webkit-transition: -webkit-transform .25s ease-in-out;
	}
	
	ul.key {
		background-color: #111;
		border: 1px solid #999;
		padding: 1em 40px;
		margin: 0;
	}
	
	.interactive {
		margin-top: 1em;
	}
}

.fixed-controls {
	display: table;
	width: 100%;
	table-layout: fixed;
	background-color: #222;
	
	.nav-buttons {
		background-color: #333;
		display: table-cell;
		width: 125px;
		text-align: center;
		vertical-align: middle;
	}
	
	.main-buttons {
		position: relative;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		
		.scroller {
			position: absolute !important;
			top: 50%;
			margin-top: -14px !important;
			display: none;
		}
		
		#scrollLeft {
			left: 0;
		}
		
		#scrollRight {
			right: 0;
		}
			
		.container {
			white-space: nowrap;
			overflow-x: scroll;
			margin: 0;
		}	
	}
	
	.btn {
		vertical-align: middle;
	}
	
	.btn.wordlabel {
		border: none;
		cursor: pointer;
		background: none;
		margin: 5px;
		display: inline-block;
		outline: none;
		position: relative;
		text-transform: none;

		transition: all 0.3s;
		color: white;
		font-weight: 400;
		font-size: 14px;
		line-height: 1.4em;
		text-align: center;
		max-width: 125px;
		padding: 5px;
		font-family: 'Oswald', sans-serif;

		span {
			white-space: normal;
		}
		
		&:hover {
			background-color: white;
			color: black;
			border-radius: 15px;
		}
		
		&:active {
			transition: all 0s;
			background-color: #333;
		}
		
		&.selected {
			background-color: red;
			color: white;
		}
	}

	.btn.numeric, .btn.symbol {
		border: none;
		cursor: pointer;
		background: none;
		margin: 6px 5px;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
		outline: none;
		position: relative;

		color: white;
		font-weight: bold;
		font-size: 22px;
		line-height: 30px;
		text-align: center;
		width: 28px;
		height: 28px;
		padding: 0;
		font-family: 'Oswald', sans-serif;
		
		&:before {
			content: "";
			background-color: black;
			display: block;
			width: 100%;
			height: 100%;
			transition: transform .5s linear, background-color .5s linear;
			-webkit-transition: -webkit-transform .5s linear;
		}

		span {
			position: absolute;
			top: -1px;
			left: 0;
			width: 100%;
			text-align: center;
		}
		
		span.up {
			top: -3px;
		}
		
		&:hover {
			color: black;
			
			&:before {
				background-color: white;
			}
		}
		
		&:active {			
			&:before {
				transform: all 0s;
				-webkit-transform: all 0s;
				background-color: #666;
			}
		}
		
		/* diamond */
		&.selected {
			&:before {
				background-color: red;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
	
			span {
			}	
		}
	}
}

.interactive-contents.full-screen {
	margin: 0 auto;
	
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .75);
		pointer-events: none;
		z-index: -1;
	}
	
	&.expanded {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
	
	#interactive-close {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	iframe {
		display: block;
		margin: 0 auto;
		transform-origin: 50% 0;
		-webkit-transform-origin: 50% 0;
		padding: 10px;
		background-color: $interactive-color;
		box-sizing: content-box;
	}
}

button.basic {
	width: 40px;
	height: 40px;
	outline: none;
	border: none;
	background-color: black;
	padding: 0;
	color: #ddd;
	cursor: pointer;
	
	&:hover {
		background-color: #666;
		color: white;
	}
	
	&:active {
		background-color: white;
		color: black;
	}
}

div.sidebar {
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transition: top .5s ease, height 1s ease;
	
	h2 {
		display: block;
		font-weight: bold;
		padding: .5em .5em;
		margin: 0;
		font-size: 18px;
		line-height: 24px;
		background-color: #e0d988;
		border-bottom: 2px solid black;
		text-align: left;
	}
	
	.interior {
		p {
			padding: .75em .5em .75em .5em;
			font-size: 16px;
			line-height: 1.5em;
		}
		
		div {
			margin-top: .5em;
		}
	
		img {
			display: block;
			margin: 0 auto;
			padding: 10px;
			max-width: 100%;
			cursor: -webkit-zoom-in;
		}
	}
	
	table {
		border-collapse: collapse;
		text-align: left;
		margin: 1em 0;
		
		th, td {
			border: 1px solid black;
			padding: 0 1em;
		}
	}
}

div.cell {
/*
	border: 2px solid black;
	border-radius: 15px;
*/
	margin: 15px 5px;
	padding: 1em;
	width: 49%;
	/* leave cell overflow visible so the callout lines can extend beyond the cell? */
/*	overflow: hidden;*/

	.top {
		margin: 0 auto;
	}
	
	.bottom {
		margin: 0 auto;
	}		
}

.cell-image {
	img {
		display: block;
		margin: 0 auto;
		cursor: -webkit-zoom-in;
	}
}

.diamond {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	width: 25px;
	height: 25px;
	
	position: absolute;
	top: 1em;
	left: 13px;
	font-family: 'Oswald', sans-serif;
	
	&:before {
		content: "";
		background-color: red;
		display: block;
		width: 100%;
		height: 100%;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
	
	& > span {
		position: absolute;
		top: -5px;
		left: 0;
		width: 100%;
		text-align: center;
	}	
}

.block {
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	width: 28px;
	height: 28px;
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	
	position: absolute;
	left: 13px;
	top: .6em;
	
	&:before {
		content: "";
		background-color: black;
		display: block;
		width: 100%;
		height: 100%;
	}
	
	span {
		position: absolute;
		top: -1px;
		left: 0;
		width: 100%;
		text-align: center;
	}
}

span.glossary {
	font-weight: bold;
	padding: .1em .25em;
	cursor: pointer;
	transition: background-color .25s linear, color .25s linear;
	border-radius: 25px;
	
	&:hover {
		background-color: white;
		color: black;
		border-radius: 25px;
	}
}

span.red {
	color: #FF032B;
}

span.green {
	color: #008146;
}

span.blue {
	color: #277BBB;
}

.spacer {
	width: 0;
}

div.image-callout {
	font-size: 12px;
	position: absolute;
	padding: 0 1.5em;
	
	span {
		display: block;
		padding: 0 3px;
	}
}

.toc {
	width: 100%;
	background-color: #ddd;
	
	.entry {
		width: 100%;
		background-color: #a0a0ff;
		position: relative;
		overflow: hidden;
		background-repeat: no-repeat;
		color: white;
		line-height: 70px;
		padding-left: 1em;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		cursor: pointer;
		
		&.selected {
			background-color: brown !important;
			color: white !important;
		}
		
		&.chapter {
			height: 70px;
			font-size: 24px;
			text-shadow: -1px 1px 2px #666;
		}
		
		&.toc-chapter {
			padding-left: .25rem;
			color: black;
			
			.title {
				text-shadow: none;
			}
		}
		
		&.toc-part {
/*			background-color: wheat !important;*/
			color: black;
			padding-left: .25rem;
			
			.title {
				text-shadow: none;
			}
		}
		
		&.spread {
/*			height: 0 !important;*/
		}
		
		&:hover {
			.number {
				color: black;
			}
		}
		
		.number {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			font-size: 3rem;
			padding-left: .25em;
		}
		
		.title {
			font-size: 1.25rem;
			text-align: right;
			padding: .5em .5em .5em .25em;
			line-height: 1.25em;
			text-shadow: 1px 1px 4px black;
			font-weight: 400;
			z-index: 100;
			
			.chapter {
				text-align: left;
				font-weight: 700;
				margin-bottom: .5rem;
				border-bottom: 2px solid rgba(0, 0, 0, .5);
				text-transform: uppercase;
			}
		}
		
		
		.read-marker {
			position: absolute;
			bottom: 0;
			left: 0;
			
			.rating {
				font-size: 80%;
			}
		}
	}
}

#toc {
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}

#toc-header {
	height: 65px;
	
	#menu-header {
		height: 100%;
		background: linear-gradient(to bottom, #fac695 0%,#f5ab66 47%,#ef8d31 100%);
		border-bottom: 4px solid rgb(211, 104, 48);
		
		& > div {
			line-height: 65px;
			text-align: center;
			vertical-align: middle;
			float: left;
			height: 100%;
		}
		
		.header-button {
			width: 20%;
			height: 100%;
			color: rgb(121, 81, 56);
			position: relative;			
		}

		i.button {
			font-size: 150%;
			cursor: pointer;
			
			&:hover {
				color: #BE7708;
			}
			
			&:active {
				color: rgb(243, 247, 104);
			}
		}
		
		p.menu-label {
			position: absolute;
			bottom: 0;
			line-height: 1.4em;
			text-align: center;
			width: 100%;
			text-transform: uppercase;
			font-size: 12px;
		}
		
		.title {
			width: 60%;
			height: 100%;
			
			background: url(../images/title.svg) no-repeat;
			background-size: 80% 80%;
			background-position: center center;
			border-left: 1px solid rgba(155, 126, 93, 0.5);
			border-right: 1px solid rgba(155, 126, 93, 0.5);
			
			position: relative;
		}
		
		#news-alert {
			display: none;
			font-size: 60%;
			color: rgb(233, 237, 164);
			position: absolute;
			top: 5px;
			right: 5px;
			
			cursor: pointer;
			
			&:hover {
				.fa-circle {
					color: #3DE422
				}
			}
			
			&:active {
				.fa-circle {
					color: #262;
					text-shadow: 1px 1px 4px black;
				}
			}
			
			i.count {
				font-weight: bold;
				color: white;
			}
			
			.fa-circle {
				color: rgb(154, 163, 74);
				text-shadow: 2px 2px 8px black;
			}
		}		
	}
	
	.menu {
		display: none;
		position: absolute;
		background-color: white;
		z-index: 1;
		color: black;
		width: 100%;
		font-size: 80%;
		
		.contents {
			width: 100%;
			padding: 10px;

			ul {
				font-size: 120%;
				line-height: 1.2em;
				background: rgb(242, 228, 228);
				
				li:nth-child(odd) {
					background: rgb(226, 201, 201);
				}
				
				& > li {
					position: relative;
					list-style: none;
					cursor: pointer;
					color: blue;
					margin-left: -2em;
					padding-left: 1em;
					
					&:hover {
						color: green;
					}
					
					&:active {
						color: black;
					}					
				
					&:before {
						content: "";
						position: absolute;
						top: .4em;
						left: .2em;
						width: .5em;
						height: .5em;
						display: block;
						background-color: $hcw-light-brown;
					}
				}
			}
		
			ul li:after {
				clear: both;
				content: "";
				display: block;
			}
			
			a {
				text-decoration: none;
				color: blue;
				
				&:hover {
					color: green;
				}
				
				&:active {
					color: black;
				}
			}
		}
	}
	
	#menu {
		display: none;
		position: absolute;
		z-index: 1;
		background-color: black;
		color: white;
		width: 100%;
		font-size: 80%;
		
		input[type=checkbox] {
			visibility: hidden;
		}
		
		table {
			border-collapse: collapse;
			border: 1px solid #666;
			width: 100%;
			text-align: center;
			background-color: #333;
			margin: 1em 0;
		}
		
		.contents {
			width: 100%;
			padding: 10px;
		}
		
		.label {
			display: inline-block;
			width: 10em;
		}
		
		#links {
			a {
				font-size: 150%;
				color: rgb(126, 126, 213);
				
				&:hover {
					color: green;
				}
			}
		}
		
		.tiny {
			font-size: 12px;
			color: #999;
			text-align: center;
			margin-top: 2em;
		}

		.checkstar {
			display: inline-block;
			
			label {
				color: yellow;
				font-size: 150%;
				cursor: pointer;

				i + i {
					opacity: 0;
				}
				
				&:hover i + i {
					opacity: .3;
				}		
			}
			input[type=checkbox] {
				visibility: hidden;
				
				&:checked + label i + i {
					opacity: 1;
				}				
			}    
		}
		
		#favorites-widget {
			p {
				line-height: 1.2em;
				color: white;
				padding: .5em;
			}
		}
	}
	
	.footer {
		text-align: center;
		background-color: #333;
		padding: 2px 0 5px 0;
	}
}

#toc-footer {
	height: 70px;
	border-top: 1px solid white;
}

.search-area {
	width: 100%;
	height: 100%;
	line-height: 70px;
	background-color: #3A3A3A;
	position: relative;
	padding: 0 10px;
	
	p.label {
		font-size: 60%;
		line-height: 1em;
		text-shadow: 1px 1px 2px black;
		position: absolute;
		top: 2px;
		left: 0;
		color: white;
		text-transform: uppercase;
		font-family: "Archivo Narrow", sans-serif;
	}
	
	i {
		color: white;
		padding: 10px;
		width: 20%;
		text-align: center;
	}
	
	#search-box {
		background: none;
		border: 2px solid #aaf;
		font-size: 110%;
		line-height: 1.5rem;
		height: 2rem;
		width: 70%;
		border-radius: 15px;
		color: white;
		vertical-align: middle;
		padding: 8px;
		outline: none;
	}
}

#content {
	padding-left: 25px;
	overflow-x: hidden;
}

#content-holder {
	background-color: wheat;
	width: 100%;
	box-shadow: 12px 0 24px -12px rgba(0, 0, 0, .7) inset;
	padding: 15px;
	overflow: hidden;	
	position: relative;
}

.banner {
	width: 50%;
	max-width: 1080px;
	margin: 0 auto 30px auto;
	
	&:after {
		content: "";
		display: block;
		clear: both;
	}
	
	.read-banner {
		width: 50%;
		float: left;
		display: block;
	
		&:after {
			clear: both;
			content: "";
			display: block;
		}
	
		& > header {
			background-color: black;
			margin-top: 15px;
		
			h1 {
				text-transform: uppercase;
				color: white;
				font-size: 140%;
				padding: .25rem .5rem;
			
				span {
					color: #f42;
					float: right;
				}
			}
		}
	
		.wide-read {
			background-color: white;
			position: relative;
		
			header {
				position: absolute;
				bottom: 0;
						
				h1 {
					font-family: Oswald;
					font-size: 250%;
					color: white;
					padding: .1em .5em;
					text-shadow: 0px 2px 6px black;
					word-break: break-word;
				}
			}
		
			.preview-image {
				width: 100%;
				height: 200px;
			}		
		}
	
		.preview-image {
			background-image: url(https://s3.amazonaws.com/HCW10/Images/1_3/atom.svg);
			background-size: contain;
		}	
	}

	.read {
		position: relative;
		cursor: pointer;
	
		&:before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(135deg, #842143 0%,#af4282 37%,#ea2803 51%,#ff6600 75%,#c72200 100%);
			opacity: .5;
			transition: opacity .25s linear;
		}
	
		&:hover {
			&:before {
				opacity: .75;
			}
		}
	}	
}

.read-area {
	clear: both;

	& > header {
		background-color: black;
		margin-top: 15px;
	
		h1 {
			text-transform: uppercase;
			color: white;
			font-size: 140%;
			padding: .25rem .5rem;
		}
	}
	
	.read:nth-child(1) {
		&:before {
			background: linear-gradient(135deg, #cb60b3 0%,#ad1283 50%,#de47ac 100%);
		}
	}
	
	.read:nth-child(2) {
		&:before {
			background: linear-gradient(135deg, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
		}
	}
	
	.read:nth-child(3) {
		&:before {
			background: linear-gradient(135deg, #627d4d 0%,#1f3b08 100%);
		}
	}
	
	.small-read {
		width: 33.3%;
		border-top: 1px solid #ccc;
		float: left;
	
		header {
			position: absolute;
			bottom: 0;
					
			h1 {
				font-family: Oswald;
				font-size: 150%;
				color: white;
				padding: .1em .5em;
				text-shadow: 0px 1px 3px black;
				word-break: break-word;
			}
		}
	
		.preview-image {
			width: 100%;
			height: 150px
		}
	}
}

.banner header {
	bottom: auto;
	top: 0;
}	

#current-spread-name {
	position: fixed;
	z-index: 3;
	transition: top 1s ease-in-out;
	top: -50px;
	display: none;
	
	h1 {
		padding: .1em 1em .1em 45px;
		background-color: #333;
		color: white;
		border-radius: 0 0 15px 0;
		border-right: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		font-size: 1.5rem;
	}
}

/* Loading spinner: */

.spinner {
  margin: -15px -25px;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* ^ Loading spinner */

.testrect {
	position: absolute;
	border: 1px solid yellow;
	pointer-events: none;
}

#results-pane {
	position: fixed;
	bottom: 70px;
	z-index: 10;
	min-width: 300px;
	max-width: 50%;
	display: none;
	
	#results-header {
		background: red;
		height: 2rem;
		line-height: 2rem;
		border-radius: 0 25px 0 0;
		
		#label {
			font-size: 150%;
		}
		
		#close-button {
			position: absolute;
			right: 0;
			top: 0;
			cursor: pointer;
			
			.fa-times {
				font-size: .75em;
				margin-top: -1px;
			}			
		}
		
		#close-button:hover {
			.fa-times {
				color: #999;
			}
		}	
	}
	
	#results-scroller {
		background: white;
		padding: 1rem 0;
		max-height: 500px;
		width: auto;
		overflow-y: scroll;
		-webkit-overflow-scrolling: auto;
		
		.all-results {
		}
		
		.result {
			white-space: nowrap;
			text-overflow: ellipsis;
			padding: 0 1em;
			cursor: pointer;
			width: auto;
			overflow: hidden;
			
			&:hover {
				background: #116;
				color: white;
			}
		}
	}
	
	#results-summary {
		background: orange;
		padding-left: 1rem;
	}
}

.spread.page {
	max-width: 1080px;
	margin: 0 auto;
	
	header {
		padding: 1rem 0 2rem 0;
		
		div.number {
			p:first-child {
				padding: 0;
				margin: 0;
				font-size: 2rem;
				line-height: 2rem;
				letter-spacing: .3rem;
				text-transform: uppercase;
			}
	
			p:nth-child(2) {
				font-size: 12rem;
				font-weight: 700;
				line-height: 12rem;
				font-family: 'Oswald', sans-serif;
				padding: 0;
				margin: 0;
			}
		}
		
		h1 {
			font-weight: 700;
			color: black;
			font-size: 6rem;
			line-height: 6rem;
		}

		&.part {
			background-color: white;
			
			h1 {
				text-align: center;
			}
			
			div.number {
				color: $hcw-light-brown;
				text-align: center;
				
				p:first-child {
					letter-spacing: 2rem;
				}
			}

			.chapters {
				text-transform: uppercase;
				text-align: center;
				border-bottom: 1px solid black;
				font-size: 125%;
				letter-spacing: 1.5rem;
				font-weight: 700;
				color: $hcw-light-brown;
				padding: 2rem 0 .5rem 0;
				margin: 0 5rem;
			}
			
			.chapter-listing {
				display: block;
				text-decoration: none;
				margin-top: 1rem;
				text-transform: uppercase;
				font-weight: bold;
				text-align: center;
				cursor: pointer;
				
				.number {
					color: $hcw-light-brown;
					padding-right: 2rem;
					letter-spacing: .2rem;
				}
				
				.title {
					color: black;
				}
				
				&:hover {
					.number, .title {
						color: #04a;
					}
				}
			}			
		}
				
		&.chapter {		
			div.number {
				width: 30%;
				float: left;
				color: white;
				text-align: center;		
			}
	
			h1 {
				width: 70%;
				float: left;
			}
		}
		
		&:after {
			clear: both;
			display: block;
			content: "";
		}
	}
	
	section.page {
		background-color: white;
		padding: 2rem 3rem;
		box-shadow: 0 12px 36px -12px rgba(0, 0, 0, 0.7) inset;
		
		line-height: 1.7rem;
		
		section {
			padding-bottom: 1.5rem;
			
			p:nth-of-type(n+2) {
				text-indent: 2rem;
			}			
		}
		
		a {
			text-decoration: none;
			color: #3879D9;
			
			&:hover {
				color: #04a;
			}
		}
		
		h1 {
			font-size: 200%;
			font-family: Oswald, sans-serif;
			font-weight: 400;
			margin-top: 2rem;
			padding: .25em 0;
			
			clear: both;
		}
		
		h1 + figure + p, h1 + p {
			text-indent: 0 !important;
		}
		
		h1 + p {
			margin-top: 1em;
		}
		
		h3, h4 {
			margin: 1em 0 0 0;
		}
		
		h4 + p {
			text-indent: 0 !important;
		}
		
		.center {
			display: block;
			margin: 0 auto;
			padding-bottom: 2rem;
		}
		
		.left {
			float: left;
		}
		
		.right {
			float: right;
		}
		
		.drop-cap {
			margin: -5px 5px 0 0;
			float: left;
		}
		
		img {
			margin: 10px;
		}
		
		figure {
			font-size: .75em;
			line-height: 1.4em;
			display: table;
			padding: 5px;
			margin: 10px;
		}
		
		figure img {
			display: block;
			max-width: 100%;
		}
		
		figcaption {
			display: table-caption;
			caption-side: bottom;
			padding: 0 5px 5px;
			margin: 0 10px;
			font-weight: bold;
			
			h1 {
				font-weight: bold;
				font-size: 125%;
				margin: 0;
			}
		}
		
		footer {
			font-size: .83rem;
			vertical-align: super;			
		}

		& > div > footer {
			&:before {
				content: "";
				display: block;
				width: 8em;
				border-top: 1px solid black;
			}
		}
		
		.signature {
			text-indent: 0 !important;
			margin-top: 1em;
		}
			
		blockquote {
			font-style: italic;
			
			footer {
				font-weight: 700;
				text-align: right;
				
				cite {
					font-style: normal;
				}
				
				&:before {
					content: "—";
					display: inline;
					padding-right: 3px;
				}
			}
		}
		
		.italic {
			font-style: italic;
		}
		
		.bold {
			font-weight: bold;
		}
		
		.super {
			vertical-align: super;
			font-size: 60%;
		}
		
		span.init-cap-words {
			color: $hcw-light-brown;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 150%;
			font-family: 'Oswald', sans-serif;
		}
		
		ul {
			& > li {
				position: relative;
				list-style: none;
				
				&:before {
					content: "";
					position: absolute;
					top: .5em;
					left: -1em;
					width: 8px;
					height: 8px;
					display: block;
					background-color: $hcw-light-brown;
				}
			}
		}
		
		ul li:after {
			clear: both;
			content: "";
			display: block;
		}
		
		ol {
			counter-reset: li;
			
			& > li {
				position: relative;
				list-style: none;
				
				&:before {
					content: counter(li) ". ";
					counter-increment: li;
					font-weight: bold;
					color: $hcw-light-brown;
				}
			}
		}
		
		table#binary {
			border-collapse: collapse;
			margin-top: 1em;
			
			th, td {
				text-align: center;
				padding: .25em 2em;
			}
	
			td:nth-child(2) {
				text-align: right;
				padding-right: 4em;
			}
	
			td + td, th + th {
				border-left: 1px solid black;
			}
	
			tr + tr {
				border-top: 1px solid black;
			}		
		}	
	}
}

#settings {
	position: fixed;
	background-color: white;
	border-radius: 15px;
	padding: 15px;
	border: 5px solid blue;
	display: none;
	width: 400px;
	height: 200px;
	text-align: center;
	
	button {
		position: absolute;
		width: 50%;
		left: 50%;
		margin-left: -25%;
		bottom: 15px;
		display: block;
	}
}

#toc-container {
	visibility: hidden;
	width: 20%;
	max-width: 275px;
	min-width: 200px;
	position: fixed;
	top: 0;
	left: -1px;
	bottom: 0;
	z-index: 4;
	
	#toggler {
		display: table;
		text-align: center;
		
		cursor: pointer;
		
		background-color: rgba(0, 0, 0, .75);
		box-shadow: 6px 0px 10px 3px rgba(0, 0, 0, 0.5);
		z-index: 0 !important;
		
		position: absolute;
		top: 0;
		left: 100%;
		width: 25px;
		height: 100%;
		
		i {
			display: table-cell;
			vertical-align: middle;
			color: white;
			
			&:active {
				color: black;
			}
		}
	}
}

.glossaryTooltip {
	.qtip-content {
		font-size: 22px;
		line-height: 1.4em;	
	}
	
	.qtip-title {
		font-size: 200%;
		line-height: 1.4em;
	}
}

.tourPopups {
	background-color: rgba(94, 112, 134, 0.75);
	border: 1px solid white;
	color: white;
	text-shadow: 1px 1px 2px black;
	width: 50%;
	max-width: 350px !important;
	
	.qtip-content {
		font-size: 25px;
		line-height: 1.4em;	

		p.centered {
			text-align: center;
		}
				
		span.title {
			color: #99d;
			font-weight: bold;
		}
		
		img {
			padding: 5px;
			display: block;
			width: 100%;
			max-height: 75%;
		}
	}
	
	div.control-holder {
		width: 100%;
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid rgb(142, 213, 142);
		text-align: center;
		
		.button-bar {
			line-height: 1.5em;
			
			button {
				width: 35%;
				border: none;
				font-weight: normal;
				font-family: "Archivo Narrow", sans-serif;
				font-size: 70%;
				outline: none;
				cursor: pointer;
				color: white;
				vertical-align: top;
				margin-top: 2px;
				background: #999;
				
				&:hover {
					background: #ccc;
				}
				
				&:active {
					background: #333;
				}
			}
			
			#back {
			}
			
			#cancel {
				height: 1.5em;
				
				background: #800;
				
				&:hover {
					background: #500;
				}
				
				&:active {
					background: #300;
				}
			}
			
			#skip {
				background: #00e;
				
				&:hover {
					background: #00a;
				}
				
				&:active {
					background: #003;	
				}
			}
			
			#next {
				background: #080;
				
				&:hover {
					background: #060;
				}
				
				&:active {
					background: #030;	
				}
			}
			
			div.label {
				width: 30%;
				font-size: 80%;
				text-align: center;
				vertical-align: top;
				line-height: 1.5em;
				color: black;
				font-family: "Archivo Narrow", sans-serif;
				display: inline-block;
				text-shadow: none;
				font-weight: bold;
				
				span.counter {
					border-radius: .5em;
					background: rgb(208, 194, 242);
					padding: .25em;
					color: white;
				}	
			}
		}
	}
	
	.qtip-title {
		font-size: 200%;
		line-height: 1.4em;
	}
}

#qtip-overlay div {
	opacity: 0 !important;
	filter: alpha(opacity=0) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)" !important;	
}

#qtip-overlay div.dimming {
	opacity: .75 !important;
	filter: alpha(opacity=75) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)" !important;	
}

#opinion {
	background-color: white;
	position: absolute;
	width: 350px;
	right: -350px;
	top: -500px;
	padding: 10px 40px 10px 1.5em;
	z-index: 1;
	transition: right .5s ease-in-out;
	
	#close-button {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	
	.pulltab {
		position: absolute;
		left: -1.5em;
		top: 0;
		width: 1.5em;
		height: 100%;
		background-color: red;
		border-radius: 25px 0 0 25px;
		
		p {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			white-space: nowrap;
			margin: 0;
			padding: 0;
			text-align: center;
			width: 1.5em;
			color: white;
			font-family: FontAwesome;
			color: yellow;
		}
	}
	
	&.onScreen {
	}
	
	h1 {
		font-size: 150%;
		line-height: 1.1em;
		
		span {
			color: $hcw-light-brown;
		}
	}
	
	a {
		cursor: pointer;
		font-size: 75%;
		color: red;
		display: inline-block;
		padding: .25em 1em;
		margin-top: .5em;
		border: 1px solid red;
		
		&:hover {
			color: #600;
			background-color: rgb(236, 208, 217);
		}
	}
	
	#ratingLabel {
		display: inline-block;
		font-size: 80%;
		padding-right: .5em;
	}
	
	.rating {
		display: inline-block;
		font-size: 120%;
		unicode-bidi: bidi-override;
		direction: rtl;
		text-align: left;
		margin-top: .25em;
		
		span.star {
			font-family: FontAwesome;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
			cursor: pointer;				
			
			&:before {
				content: "\f006";
				padding-right: 5px;
				color: #777777;
			}
			
			&.selected:before {
				content: "\f005" !important;
				color: #EAEA48 !important;
			}
			
			&:hover {
				& ~ span.star:before, &:before {
					content: "\f005";
					color: #e3cf7a;
				}
			}
		}
	}
	
	.commentEntry {
		display: none;
		margin-top: 1em;
		
		p span {
			font-size: 14px;
		}
		
		input {
			font-size: 100%;
		}
		
		textarea {
			width: 100%;
		}
		
		button {
			height: 40px;
			margin-top: 10px;
		}
		
		button + button {
			margin-left: 10px;
		}
	}
	
	.comments {
		display: none;
		margin-top: 1em;
		font-size: 80%;
		font-family: 'Archivo Narrow', sans-serif;
		max-height: 200px;
		border: 1px solid #ddd;
		overflow-y: scroll;
		
		.scroller {
			padding: .25em .5em;
			
			p {
				padding-left: 1em;
				text-indent: -1em;
				
				span:first-child {
					font-weight: bold;
				}
			}
		}
	}	
}

#help-system {
	display: none;
}

div.dimmer {
	position: fixed;
	background-color: #000;
	opacity: 0;
	z-index: 100;
	transition: opacity .5s linear;
}

.loading-message {
	max-width: 1080px;
	width: 50%;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	background-color: white;
	color: black;
	margin: 15px auto 0 auto;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	
	-webkit-animation: flickerAnimation 1s infinite;
}

@-webkit-keyframes flickerAnimation {
  0%   { color: rgba(0, 0, 0, 1); }
  50%  { color: rgba(0, 0, 0, 0); }
  100% { color: rgba(0, 0, 0, 1); }
}

div.blocker {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(255, 0, 0, 0);
}

#cboxLoadedContent {
	button {
		position: absolute;
		top: 5px;
	}
	
	#zoomin {
		left: 5px;
	}
	
	#zoomout {
		left: 55px;
	}
}

#search-window {
	position: fixed;
	top: 0;
	left: 0;
	right:  0;
	bottom: 0;
	background: rgba(200, 180, 10, .5);
	z-index: 100;
	display: none;
	
	#close-button {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}
	
	.interior {
		position: absolute;
		top: 50px;
		left: 50px;
		right: 50px;
		bottom: 50px;
		background-color: #3A3A3A;
	}
	
	.search-area {
		height: 70px;
		margin: 0 auto;
		background: none;
		text-align: center;
		
		i {
			display: inline;
		}
		
		#search-box {
			max-width: 300px;
		}
		
		.slideThree {
			vertical-align: middle;
		}
		
		input[type=checkbox] {
			visibility: hidden;
/*			display: none;*/
		}

		.options {
			display: inline-block;
		}
				
		p {
			display: inline-block;
			color: white;
			margin-left: 3em;
		}		
	}
	
	.keyword-results {
		margin-bottom: 25px;
		
		.keyword-scroller {
			text-align: center;
			overflow-x: scroll;
			
			div.result {
				display: inline-block;
				background-color: white;
				border-radius: .5em;
				padding: .5em;
				margin: 0 5px;
				transition: background-color .25s linear, color .25s linear;
				cursor: pointer;
				
				&:hover {
					background-color: black;
					color: white;
				}
				
				&.selected {
					background-color: rgb(47, 47, 194);
					color: white;
				}
			}
		}
	}
	
	.spread-results {
		overflow: scroll;
		
		.spread-scroller {
			overflow-y: scroll;
			
			div.result {
				color: white;
				width: 200px;
				height: 200px;
				background-color: black;
				position: relative;
				display: inline-block;
				margin: 10px;
				transition: background-color .5s linear, color .25s linear;
				cursor: pointer;
				
				span {
					position: absolute;
					bottom: 0;
					width: 100%;
					text-align: center;
				}
				
				&:hover {
					background: white;
					color: black;
				}
				
				&:active {
					background: #2B2B7E;
					color: white;
					transition: none;
				}
			}
		}
	}
}

.slideThree {
	display: inline-block;
	width: 80px;
	height: 26px;
	background: #333;
	margin: 5px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #000;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #00bf00;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.slideThree label {
	display: block;
	width: 34px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
	left: 43px;
}