html, body {
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

label {
	font-weight: bold;
}

select {
	font-size: 14px;
	border: 0;
}

input {
	font-size: 14px;
	width: 100%;
	margin: 0;
	padding-right: 10px;
}

.editable-text {
	background-color: white;
	border: 1px solid black;
	padding: .25em .25em 1em .25em;
	font-size: 18px;
}

#toc {
	width: 250px;
	
	padding: 0;

	#spreadModel {
		table {
			border-spacing: 0;
			border-collapse: collapse;
			
			tr {
				border: 1px solid #99e;
				font-size: 12px;
				
				td.id {
					padding: 0 1em 0 .5em;
				}
				
				td.title {
					padding-right: .5em;
				}
			}
			
			tr:hover {
				background-color: #aae;
				cursor: pointer;
			}
		}
	}
}

.ui-layout-north, .ui-layout-east {
	padding: 0 !important;
}

#content {
	padding: 0 !important;
	
	.ui-layout-south {
		padding: 0 !important;
	}
	
	.header {
		max-width: 800px;
	}
	
	.spaced {
		padding: 10px;
	}
	
	.spread-header {
		display: table;
		width: 100%;
		
		div {
			vertical-align: top;
		}
		
		header {
			display: table-row;
			
			div {
				display: table-cell;
			}
			
			div:first-child {
				width: 8em;
			}
		}
		
		.row {
			display: table-row;
			
			div {
				display: table-cell;
			}
			
			div:first-child {
				padding-right: 1em;
			}
		}
	}
	
	#lblInputTitle {
		text-align: right;
		display: inline-block;
		width: 100%;
	}
	
	.control {
		display: inline-block;
	}
	
	#cell:nth-child(even) {
		background-color: #eef;
	}
	
	#cell:nth-child(odd) {
		background-color: #cce;
	}

	.step-text {
		margin-top: 10px;
	}
	
	.callout-text {
		#inputTitle {
			margin-bottom: 1em;
		}
	}
		
	textarea {
		width: 100%;
		font-size: 18px;
	}
	
	span.glossary {
		font-weight: bold;
		color: blue;
	}
}

#layout {
	.grid {
		position: relative;
		margin: 1em auto 0 auto;
		
		.cell {
			display: block;
			position: absolute;
			
			.inset {
				position: absolute;
				background-color: orange;
				
				.ui-resizable-handle {
					width: 5px;
					right: -5px;
					border-left: 1px solid #999;
					border-right: 1px solid #999;
					background-color: #ccc;
					height: 100%;
				}
				
				textarea {
					width: 100%;
					bottom: 0;
					position: absolute;
					background-color: rgba(255, 255, 255, .5);
				}
			}
			
			&.selected .inset {
				background-color: yellow;
			}
		}
	}
	
	.fixer {
		margin: 1em 0 1em 0;
		position: relative;
		
		img {
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
		}
		
		.bounds {
			position: absolute;
			border: 2px dotted blue;
			
			.cell-id {
				font-family: Courier;
				margin-left: .5em;
				color: blue;
			}
			
			.styling {
				width: 100%;
				
				textarea {
					width: 100%;
					position: absolute;
					bottom: 0;
					background-color: rgba(255, 255, 255, .5);
				}
			}
			
			&:hover {
				background-color: rgba(255, 255, 255, .5);
			}
			
			&.selected {
				background-color: yellow;
			}
		}
	}
	
	#cell-property-table {
		display: none;
	}
	
	#propertyPane {
		h4 {
			margin: .5em 0 0 0;
			text-align: center;
		}
	}
}

.thumbnail {
	width: 250px;
	height: 250px;
	
	border: 2px solid #66a;
	border-radius: 10px;
	background-color: #339;
	padding: 10px;
	
	img {
		width: 100%;
	}
}

table.properties {
	border: 1px solid #669;
	width: 100%;
	border-spacing: 0;
	border-collapse: separate;
	margin-top: .5em;
		
	tr {
	}
	
	td {
		border: 1px solid #99e;
		
		&:first-child {
			background-color: #ddd;
		}
		
		input {
			width: 100%;
			height: 100%;
			border: none;
			font-size: 12px;
			padding: 0;
			
			&:focus {
				outline: 0;
			}
		}
	}
}

.grid {
	.inset {
		.id-label {
			text-align: center;
			display: block;
			font-family: Courier;
		}
		
		input {
			position: absolute;
			margin: 0;
			padding: 0;
			width: 12px;
			height: 12px;
		}
		
		input[name='TL'] {
			top: 0;
			left: 0;
		}
		
		input[name='TR'] {
			top: 0;
			right: 0;
		}
		
		input[name='R'] {
			right: 0;
			top: 27px;
		}
		
		input[name='BR'] {
			bottom: 0;
			right: 0;
		}
		
		input[name='BL'] {
			bottom: 0;
			left: 0;
		}
		
		input[name='L'] {
			left: 0;
			top: 27px;
		}
	}
}