/*
@import "compass/css3";
@import "compass/typography";
@import "compass/css3/user-interface";
*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/_initializr.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/_initializr.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/_initializr.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/_initializr.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/_initializr.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/_initializr.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/_initializr.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_initializr.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/_initializr.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 96, ../sass/_initializr.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 103, ../sass/_initializr.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 110, ../sass/_initializr.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 115, ../sass/_initializr.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 127, ../sass/_initializr.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 136, ../sass/_initializr.scss */
.invisible {
  visibility: hidden;
}

/* line 141, ../sass/_initializr.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 146, ../sass/_initializr.scss */
.clearfix:after {
  clear: both;
}

/* line 150, ../sass/_initializr.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 159, ../sass/_initializr.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 167, ../sass/_initializr.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 171, ../sass/_initializr.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 175, ../sass/_initializr.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 185, ../sass/_initializr.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 190, ../sass/_initializr.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 195, ../sass/_initializr.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 200, ../sass/_initializr.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 204, ../sass/_initializr.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 214, ../sass/_initializr.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 220, ../sass/_initializr.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_editor.scss */
html, body {
  font-family: sans-serif;
}

/* line 5, ../sass/_editor.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../sass/_editor.scss */
label {
  font-weight: bold;
}

/* line 13, ../sass/_editor.scss */
select {
  font-size: 14px;
  border: 0;
}

/* line 18, ../sass/_editor.scss */
input {
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding-right: 10px;
}

/* line 25, ../sass/_editor.scss */
.editable-text {
  background-color: white;
  border: 1px solid black;
  padding: .25em .25em 1em .25em;
  font-size: 18px;
}

/* line 32, ../sass/_editor.scss */
#toc {
  width: 250px;
  padding: 0;
}
/* line 38, ../sass/_editor.scss */
#toc #spreadModel table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 42, ../sass/_editor.scss */
#toc #spreadModel table tr {
  border: 1px solid #99e;
  font-size: 12px;
}
/* line 46, ../sass/_editor.scss */
#toc #spreadModel table tr td.id {
  padding: 0 1em 0 .5em;
}
/* line 50, ../sass/_editor.scss */
#toc #spreadModel table tr td.title {
  padding-right: .5em;
}
/* line 55, ../sass/_editor.scss */
#toc #spreadModel table tr:hover {
  background-color: #aae;
  cursor: pointer;
}

/* line 63, ../sass/_editor.scss */
.ui-layout-north, .ui-layout-east {
  padding: 0 !important;
}

/* line 67, ../sass/_editor.scss */
#content {
  padding: 0 !important;
}
/* line 70, ../sass/_editor.scss */
#content .ui-layout-south, #content .ui-layout-center {
  padding: 0 !important;
}
/* line 74, ../sass/_editor.scss */
#content .header {
  max-width: 800px;
}
/* line 78, ../sass/_editor.scss */
#content .cells {
  display: table;
}
/* line 82, ../sass/_editor.scss */
#content .spaced {
  padding: 10px;
}
/* line 86, ../sass/_editor.scss */
#content .spread-header {
  display: table;
  width: 100%;
  padding: 5px 10px;
  background-color: #115;
  color: white;
}
/* line 93, ../sass/_editor.scss */
#content .spread-header div {
  vertical-align: top;
}
/* line 97, ../sass/_editor.scss */
#content .spread-header header {
  display: table-row;
}
/* line 100, ../sass/_editor.scss */
#content .spread-header header div {
  display: table-cell;
}
/* line 104, ../sass/_editor.scss */
#content .spread-header header div:first-child {
  width: 8em;
}
/* line 109, ../sass/_editor.scss */
#content .spread-header .row {
  display: table-row;
}
/* line 112, ../sass/_editor.scss */
#content .spread-header .row div {
  display: table-cell;
}
/* line 116, ../sass/_editor.scss */
#content .spread-header .row div:first-child {
  padding-right: 1em;
}
/* line 122, ../sass/_editor.scss */
#content #lblInputTitle {
  text-align: right;
  display: inline-block;
  width: 100%;
}
/* line 128, ../sass/_editor.scss */
#content .control {
  display: inline-block;
}
/* line 132, ../sass/_editor.scss */
#content .cell {
  padding: 5px 10px;
  display: table-row;
}
/* line 136, ../sass/_editor.scss */
#content .cell .cell-left {
  width: 45px;
  display: table-cell;
}
/* line 141, ../sass/_editor.scss */
#content .cell .cell-right {
  display: table-cell;
}
/* line 146, ../sass/_editor.scss */
#content .cell:nth-child(even) {
  background-color: #eef;
}
/* line 149, ../sass/_editor.scss */
#content .cell:nth-child(even) .cell-left {
  background-color: #ccd;
}
/* line 154, ../sass/_editor.scss */
#content .cell:nth-child(odd) {
  background-color: #cce;
}
/* line 157, ../sass/_editor.scss */
#content .cell:nth-child(odd) .cell-left {
  background-color: #aac;
}
/* line 162, ../sass/_editor.scss */
#content .step-text {
  margin-top: 10px;
}
/* line 167, ../sass/_editor.scss */
#content .callout-text #inputTitle {
  margin-bottom: 1em;
}
/* line 172, ../sass/_editor.scss */
#content textarea {
  width: 100%;
  font-size: 18px;
}
/* line 177, ../sass/_editor.scss */
#content span.glossary {
  font-weight: bold;
  color: blue;
}

/* line 184, ../sass/_editor.scss */
#layout .grid {
  position: relative;
  margin: 1em auto 0 auto;
}
/* line 188, ../sass/_editor.scss */
#layout .grid .cell {
  display: block;
  position: absolute;
}
/* line 192, ../sass/_editor.scss */
#layout .grid .cell .inset {
  position: absolute;
  background-color: orange;
}
/* line 196, ../sass/_editor.scss */
#layout .grid .cell .inset .ui-resizable-handle {
  width: 5px;
  right: -5px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #ccc;
  height: 100%;
}
/* line 205, ../sass/_editor.scss */
#layout .grid .cell .inset textarea {
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 213, ../sass/_editor.scss */
#layout .grid .cell.selected .inset {
  background-color: yellow;
}
/* line 219, ../sass/_editor.scss */
#layout .fixer {
  margin: 1em 0 1em 0;
  position: relative;
}
/* line 223, ../sass/_editor.scss */
#layout .fixer img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
/* line 230, ../sass/_editor.scss */
#layout .fixer .bounds {
  position: absolute;
  border: 2px dotted blue;
}
/* line 234, ../sass/_editor.scss */
#layout .fixer .bounds .cell-id {
  font-family: Courier;
  margin-left: .5em;
  color: blue;
}
/* line 240, ../sass/_editor.scss */
#layout .fixer .bounds .styling {
  width: 100%;
}
/* line 243, ../sass/_editor.scss */
#layout .fixer .bounds .styling textarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 251, ../sass/_editor.scss */
#layout .fixer .bounds:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 255, ../sass/_editor.scss */
#layout .fixer .bounds.selected {
  background-color: yellow;
}
/* line 261, ../sass/_editor.scss */
#layout #cell-property-table {
  display: none;
}
/* line 266, ../sass/_editor.scss */
#layout #propertyPane h4 {
  margin: .5em 0 0 0;
  text-align: center;
}

/* line 273, ../sass/_editor.scss */
.thumbnail {
  width: 250px;
  height: 250px;
  border: 2px solid #66a;
  border-radius: 10px;
  background-color: #339;
  padding: 10px;
}
/* line 282, ../sass/_editor.scss */
.thumbnail img {
  width: 100%;
}

/* line 287, ../sass/_editor.scss */
table.properties {
  border: 1px solid #669;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  margin-top: .5em;
}
/* line 297, ../sass/_editor.scss */
table.properties td {
  border: 1px solid #99e;
}
/* line 300, ../sass/_editor.scss */
table.properties td:first-child {
  background-color: #ddd;
}
/* line 304, ../sass/_editor.scss */
table.properties td input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  padding: 0;
}
/* line 311, ../sass/_editor.scss */
table.properties td input:focus {
  outline: 0;
}

/* line 320, ../sass/_editor.scss */
.grid .inset .id-label {
  text-align: center;
  display: block;
  font-family: Courier;
}
/* line 326, ../sass/_editor.scss */
.grid .inset input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
}
/* line 334, ../sass/_editor.scss */
.grid .inset input[name='TL'] {
  top: 0;
  left: 0;
}
/* line 339, ../sass/_editor.scss */
.grid .inset input[name='TR'] {
  top: 0;
  right: 0;
}
/* line 344, ../sass/_editor.scss */
.grid .inset input[name='R'] {
  right: 0;
  top: 27px;
}
/* line 349, ../sass/_editor.scss */
.grid .inset input[name='BR'] {
  bottom: 0;
  right: 0;
}
/* line 354, ../sass/_editor.scss */
.grid .inset input[name='BL'] {
  bottom: 0;
  left: 0;
}
/* line 359, ../sass/_editor.scss */
.grid .inset input[name='L'] {
  left: 0;
  top: 27px;
}

/* SQUARED ONE */
/* line 367, ../sass/_editor.scss */
.squaredOne {
  width: 28px;
  height: 28px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}
/* line 384, ../sass/_editor.scss */
.squaredOne input {
  margin: 3px 0.5ex;
  /* back to user-agent default */
}
/* line 388, ../sass/_editor.scss */
.squaredOne input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
/* line 394, ../sass/_editor.scss */
.squaredOne label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(top, #222222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
/* line 413, ../sass/_editor.scss */
.squaredOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
/* line 419, ../sass/_editor.scss */
.squaredOne label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;
  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(top, #00bf00 0%, #009400 100%);
  top: 2px;
  left: 2px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
