/*
@import "compass/css3";
@import "compass/typography";
@import "compass/css3/user-interface";
*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/_initializr.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/_initializr.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/_initializr.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/_initializr.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/_initializr.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/_initializr.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/_initializr.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_initializr.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/_initializr.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 96, ../sass/_initializr.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 103, ../sass/_initializr.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 110, ../sass/_initializr.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 115, ../sass/_initializr.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 127, ../sass/_initializr.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 136, ../sass/_initializr.scss */
.invisible {
  visibility: hidden;
}

/* line 141, ../sass/_initializr.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 146, ../sass/_initializr.scss */
.clearfix:after {
  clear: both;
}

/* line 150, ../sass/_initializr.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 159, ../sass/_initializr.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 167, ../sass/_initializr.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 171, ../sass/_initializr.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 175, ../sass/_initializr.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 185, ../sass/_initializr.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 190, ../sass/_initializr.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 195, ../sass/_initializr.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 200, ../sass/_initializr.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 204, ../sass/_initializr.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 214, ../sass/_initializr.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 220, ../sass/_initializr.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_editor.scss */
html, body {
  font-family: sans-serif;
}

/* line 5, ../sass/_editor.scss */
body {
  opacity: 0;
}

/* line 9, ../sass/_editor.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../sass/_editor.scss */
label {
  font-weight: bold;
}

/* line 17, ../sass/_editor.scss */
select {
  font-size: 14px;
  border: 0;
}

/* line 22, ../sass/_editor.scss */
input {
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding-right: 10px;
}

/* line 29, ../sass/_editor.scss */
.not-full-width {
  width: auto;
}

/* line 33, ../sass/_editor.scss */
.editable-text {
  background-color: white;
  border: 1px solid black;
  padding: .25em .25em 1em .25em;
  font-size: 18px;
}

/* line 40, ../sass/_editor.scss */
#leftmost {
  padding: 0 !important;
}

/* line 44, ../sass/_editor.scss */
#toc {
  width: 250px;
  padding: 0 !important;
}

/* line 51, ../sass/_editor.scss */
#lefttopbar div#search_box {
  padding: 3px 10px;
}
/* line 54, ../sass/_editor.scss */
#lefttopbar div#search_box > span {
  vertical-align: text-top;
  padding-right: 10px;
}
/* line 59, ../sass/_editor.scss */
#lefttopbar div#search_box input {
  padding: 3px;
  border-radius: 10px;
  border: 1px solid silver;
  outline: none;
}

/* line 68, ../sass/_editor.scss */
#leftbottombar {
  padding: 0 !important;
}

/* line 72, ../sass/_editor.scss */
.ui-layout-north, .ui-layout-east, .ui-layout-west {
  padding: 0 !important;
}

/* to help see more cells when reordering:
.sorting .cell {
	display: block !important;
	height: 100px;
	margin-left: -10px;
	margin-top: -10px;
	overflow: hidden;
	border-bottom: 3px solid black;
}
*/
/* line 87, ../sass/_editor.scss */
.shorter {
  display: block !important;
  height: 100px !important;
  overflow: hidden;
}

/* line 93, ../sass/_editor.scss */
.helper {
  width: 100%;
  height: 50px;
  background-color: orange;
}

/* line 99, ../sass/_editor.scss */
#content {
  padding: 0 !important;
}
/* line 102, ../sass/_editor.scss */
#content .ui-layout-south, #content .ui-layout-center {
  padding: 0 !important;
}
/* line 106, ../sass/_editor.scss */
#content .header {
  max-width: 800px;
}
/* line 110, ../sass/_editor.scss */
#content .cells {
  display: table;
}
/* line 114, ../sass/_editor.scss */
#content .spaced {
  padding: 10px;
}
/* line 118, ../sass/_editor.scss */
#content .spread-header {
  display: table;
  border-spacing: 10px;
  width: 100%;
  background-color: #115;
  color: white;
}
/* line 125, ../sass/_editor.scss */
#content .spread-header div {
  vertical-align: top;
}
/* line 129, ../sass/_editor.scss */
#content .spread-header header {
  display: table-row;
}
/* line 132, ../sass/_editor.scss */
#content .spread-header header div {
  display: table-cell;
}
/* line 136, ../sass/_editor.scss */
#content .spread-header header div:nth-child(1) {
  width: 4em;
}
/* line 140, ../sass/_editor.scss */
#content .spread-header header div:nth-child(2) {
  width: 6em;
}
/* line 145, ../sass/_editor.scss */
#content .spread-header .row {
  display: table-row;
}
/* line 148, ../sass/_editor.scss */
#content .spread-header .row div {
  display: table-cell;
}
/* line 151, ../sass/_editor.scss */
#content .spread-header .row div span {
  font-size: 24px;
  font-weight: bold;
}
/* line 159, ../sass/_editor.scss */
#content #lblInputTitle {
  text-align: right;
  display: inline-block;
  width: 100%;
}
/* line 165, ../sass/_editor.scss */
#content .control {
  display: inline-block;
}
/* line 169, ../sass/_editor.scss */
#content #heading {
  width: 30em;
}
/* line 173, ../sass/_editor.scss */
#content .cell {
  padding: 5px 10px;
  display: table-row;
}
/* line 177, ../sass/_editor.scss */
#content .cell .cell-left {
  min-width: 45px;
  display: table-cell;
}
/* line 182, ../sass/_editor.scss */
#content .cell .cell-right {
  display: table-cell;
  padding-left: 10px;
  width: 100%;
}
/* line 189, ../sass/_editor.scss */
#content .sortable-placeholder {
  height: 50px;
  width: 100%;
  background-color: purple;
}
/* line 195, ../sass/_editor.scss */
#content .cell:nth-child(even) {
  background-color: #eef;
}
/* line 198, ../sass/_editor.scss */
#content .cell:nth-child(even) .cell-left {
  background-color: #ccd;
}
/* line 203, ../sass/_editor.scss */
#content .cell:nth-child(odd) {
  background-color: #cce;
}
/* line 206, ../sass/_editor.scss */
#content .cell:nth-child(odd) .cell-left {
  background-color: #aac;
}
/* line 211, ../sass/_editor.scss */
#content .step-text {
  margin: 10px 10px 0 0;
}
/* line 214, ../sass/_editor.scss */
#content .step-text div.editable-text {
  border: 2px solid #88a;
  border-radius: 10px;
}
/* line 221, ../sass/_editor.scss */
#content .callout-text #inputTitle {
  margin-bottom: 1em;
}
/* line 226, ../sass/_editor.scss */
#content textarea {
  width: 100%;
  font-size: 18px;
}
/* line 231, ../sass/_editor.scss */
#content span.glossary {
  font-weight: bold;
  color: blue;
}

/* line 238, ../sass/_editor.scss */
#layout .grid {
  position: relative;
  margin: 1em auto 0 auto;
}
/* line 242, ../sass/_editor.scss */
#layout .grid .cell {
  display: block;
  position: absolute;
  transition: left .25s ease, top .25s ease;
}
/* line 248, ../sass/_editor.scss */
#layout .grid .cell .inset {
  position: absolute;
  left: 0;
  top: 0;
  background-color: orange;
  /*border: 1px solid white;*/
}
/* line 255, ../sass/_editor.scss */
#layout .grid .cell .inset .ui-resizable-handle {
  width: 5px;
  right: -5px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #ccc;
  height: 100%;
}
/* line 264, ../sass/_editor.scss */
#layout .grid .cell .inset textarea {
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 272, ../sass/_editor.scss */
#layout .grid .cell.selected .inset {
  background-color: yellow;
}
/* line 278, ../sass/_editor.scss */
#layout .fixer {
  margin: 1em 0 1em 0;
  position: relative;
}
/* line 282, ../sass/_editor.scss */
#layout .fixer img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid black;
}
/* line 290, ../sass/_editor.scss */
#layout .fixer .bounds {
  position: absolute;
  border: 2px dotted blue;
}
/* line 294, ../sass/_editor.scss */
#layout .fixer .bounds .cell-id {
  font-family: Courier;
  margin-left: .5em;
  color: blue;
}
/* line 300, ../sass/_editor.scss */
#layout .fixer .bounds .styling {
  width: 100%;
}
/* line 303, ../sass/_editor.scss */
#layout .fixer .bounds .styling textarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 311, ../sass/_editor.scss */
#layout .fixer .bounds:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 315, ../sass/_editor.scss */
#layout .fixer .bounds.selected {
  background-color: yellow;
}
/* line 321, ../sass/_editor.scss */
#layout #cell-property-table {
  display: none;
}
/* line 326, ../sass/_editor.scss */
#layout #propertyPane h4 {
  margin: .5em 0 0 0;
  text-align: center;
}
/* line 333, ../sass/_editor.scss */
#layout .notes-group textarea {
  display: block;
  width: 100%;
}
/* line 339, ../sass/_editor.scss */
#layout .small-right {
  width: 6em;
  margin-left: auto;
  margin-right: 0;
}

/* line 346, ../sass/_editor.scss */
.thumbnail {
  width: 250px;
  border: 2px solid #66a;
  border-radius: 10px;
  background-color: #339;
  padding: 10px;
}
/* line 354, ../sass/_editor.scss */
.thumbnail img {
  width: 100%;
}

/* line 359, ../sass/_editor.scss */
table.properties, table.callout-properties {
  border: 1px solid #669;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  margin-top: .5em;
}
/* line 369, ../sass/_editor.scss */
table.properties td, table.callout-properties td {
  border: 1px solid #99e;
  min-width: 6em;
}
/* line 373, ../sass/_editor.scss */
table.properties td:first-child, table.callout-properties td:first-child {
  background-color: #ddd;
}
/* line 377, ../sass/_editor.scss */
table.properties td input, table.callout-properties td input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  padding: 0;
}
/* line 384, ../sass/_editor.scss */
table.properties td input:focus, table.callout-properties td input:focus {
  outline: 0;
}
/* line 390, ../sass/_editor.scss */
table.properties .split-left, table.callout-properties .split-left {
  float: left;
  /*		width: 70%;*/
  max-width: 50%;
}
/* line 396, ../sass/_editor.scss */
table.properties .split-right, table.callout-properties .split-right {
  float: right;
  /*		width: 30%;*/
  line-height: 25px;
}

/* line 403, ../sass/_editor.scss */
.hideable {
  display: none;
}

/* line 407, ../sass/_editor.scss */
div#image_details {
  margin-right: .5em;
}
/* line 410, ../sass/_editor.scss */
div#image_details div.callout-header {
  background-color: black;
  color: white;
  line-height: 30px;
  position: relative;
}
/* line 416, ../sass/_editor.scss */
div#image_details div.callout-header h4 {
  text-align: center;
  margin: 0;
}
/* line 421, ../sass/_editor.scss */
div#image_details div.callout-header button {
  margin: 3px;
  height: 24px;
  line-height: 24px;
  position: absolute;
  top: 0;
}
/* line 430, ../sass/_editor.scss */
div#image_details table.callouts {
  border: 1px solid #669;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  margin-bottom: 1em;
}
/* line 440, ../sass/_editor.scss */
div#image_details table.callouts td {
  border: 1px solid #99e;
}
/* line 443, ../sass/_editor.scss */
div#image_details table.callouts td:nth-child(2) {
  width: 40px;
  text-align: center;
  button-width: 100%;
}
/* line 452, ../sass/_editor.scss */
div#image_details table.callouts td input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  padding: 0;
}
/* line 459, ../sass/_editor.scss */
div#image_details table.callouts td input:focus {
  outline: 0;
}

/* line 468, ../sass/_editor.scss */
.grid .inset.with-callout-line {
  border-top: 1px dashed black;
}
/* line 472, ../sass/_editor.scss */
.grid .inset.with-image-callouts {
  border-left: 1px dashed black;
}
/* line 477, ../sass/_editor.scss */
.grid .inset .id-label {
  position: absolute;
  top: 20px;
  left: calc(50% - 8px);
  border-radius: 10px;
  width: 22px;
  height: 22px;
  background-color: white;
  text-align: center;
  /*			line-height: 55px;*/
  display: block;
  font-family: Courier;
  z-index: 0;
  pointer-events: none;
}
/* line 493, ../sass/_editor.scss */
.grid .inset input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  z-index: 1;
}
/* line 502, ../sass/_editor.scss */
.grid .inset input[name='TL'] {
  top: 0;
  left: 0;
}
/* line 507, ../sass/_editor.scss */
.grid .inset input[name='T'] {
  top: 0;
  left: calc(50% - 4px);
}
/* line 512, ../sass/_editor.scss */
.grid .inset input[name='TR'] {
  top: 0;
  right: 0;
}
/* line 517, ../sass/_editor.scss */
.grid .inset input[name='R'] {
  right: 0;
  top: 27px;
}
/* line 522, ../sass/_editor.scss */
.grid .inset input[name='BR'] {
  bottom: 0;
  right: 0;
}
/* line 527, ../sass/_editor.scss */
.grid .inset input[name='B'] {
  bottom: 0;
  left: calc(50% - 4px);
}
/* line 532, ../sass/_editor.scss */
.grid .inset input[name='BL'] {
  bottom: 0;
  left: 0;
}
/* line 537, ../sass/_editor.scss */
.grid .inset input[name='L'] {
  left: 0;
  top: 27px;
}
/* line 542, ../sass/_editor.scss */
.grid .inset .slider {
  margin: 35px 25px 0 25px;
  height: 0px;
  border: none;
  z-index: 0;
}
/* line 548, ../sass/_editor.scss */
.grid .inset .slider.ui-slider .ui-slider-handle {
  width: 5px;
  height: 66px;
  margin-left: 0;
  margin-top: -30px;
  background: none;
  border-color: blue;
}

/* SQUARED ONE */
/* line 565, ../sass/_editor.scss */
.squaredOne {
  width: 28px;
  height: 28px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  margin: 20px auto;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}
/* line 582, ../sass/_editor.scss */
.squaredOne input {
  margin: 3px 0.5ex;
  /* back to user-agent default */
}
/* line 586, ../sass/_editor.scss */
.squaredOne input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
/* line 592, ../sass/_editor.scss */
.squaredOne label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(top, #222222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}
/* line 611, ../sass/_editor.scss */
.squaredOne label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}
/* line 617, ../sass/_editor.scss */
.squaredOne label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;
  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(top, #00bf00 0%, #009400 100%);
  top: 2px;
  left: 2px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 643, ../sass/_editor.scss */
.w2ui-sidebar .w2ui-sidebar-div .w2ui-node-caption {
  white-space: normal !important;
}

/* line 648, ../sass/_editor.scss */
#dialog-form .validateTips {
  font-size: 10px;
  border: 1px solid transparent;
  padding: 0.3em;
  opacity: 0;
}
/* line 654, ../sass/_editor.scss */
#dialog-form .validateTips.checking {
  opacity: 1;
}
/* line 659, ../sass/_editor.scss */
#dialog-form .ui-state-error {
  padding: .3em;
}

/* line 664, ../sass/_editor.scss */
#dialog-message {
  display: none;
}

/* line 670, ../sass/_editor.scss */
#dialog-target-selector .control img {
  max-width: 640px;
}

/* line 676, ../sass/_editor.scss */
.clickCatcher {
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: .4;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
