/*
@import "compass/css3";
@import "compass/typography";
@import "compass/css3/user-interface";
*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/_initializr.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/_initializr.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/_initializr.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/_initializr.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/_initializr.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/_initializr.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/_initializr.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_initializr.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/_initializr.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 96, ../sass/_initializr.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 103, ../sass/_initializr.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 110, ../sass/_initializr.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 115, ../sass/_initializr.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 127, ../sass/_initializr.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 136, ../sass/_initializr.scss */
.invisible {
  visibility: hidden;
}

/* line 141, ../sass/_initializr.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 146, ../sass/_initializr.scss */
.clearfix:after {
  clear: both;
}

/* line 150, ../sass/_initializr.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 159, ../sass/_initializr.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 167, ../sass/_initializr.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 171, ../sass/_initializr.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 175, ../sass/_initializr.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 185, ../sass/_initializr.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 190, ../sass/_initializr.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 195, ../sass/_initializr.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 200, ../sass/_initializr.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 204, ../sass/_initializr.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 214, ../sass/_initializr.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 220, ../sass/_initializr.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_editor.scss */
html, body {
  font-family: sans-serif;
}

/* line 5, ../sass/_editor.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../sass/_editor.scss */
label {
  font-weight: bold;
}

/* line 13, ../sass/_editor.scss */
select {
  font-size: 14px;
  border: 0;
}

/* line 18, ../sass/_editor.scss */
input {
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding-right: 10px;
}

/* line 25, ../sass/_editor.scss */
.editable-text {
  background-color: white;
  border: 1px solid black;
  padding: .25em .25em 1em .25em;
  font-size: 18px;
}

/* line 32, ../sass/_editor.scss */
#toc {
  width: 250px;
  padding: 0;
}
/* line 38, ../sass/_editor.scss */
#toc #spreadModel table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 42, ../sass/_editor.scss */
#toc #spreadModel table tr {
  border: 1px solid #99e;
  font-size: 12px;
}
/* line 46, ../sass/_editor.scss */
#toc #spreadModel table tr td.id {
  padding: 0 1em 0 .5em;
}
/* line 50, ../sass/_editor.scss */
#toc #spreadModel table tr td.title {
  padding-right: .5em;
}
/* line 55, ../sass/_editor.scss */
#toc #spreadModel table tr:hover {
  background-color: #aae;
  cursor: pointer;
}

/* line 63, ../sass/_editor.scss */
.ui-layout-north, .ui-layout-east {
  padding: 0 !important;
}

/* line 67, ../sass/_editor.scss */
#content {
  padding: 0 !important;
}
/* line 70, ../sass/_editor.scss */
#content .ui-layout-south {
  padding: 0 !important;
}
/* line 74, ../sass/_editor.scss */
#content .header {
  max-width: 800px;
}
/* line 78, ../sass/_editor.scss */
#content .spaced {
  padding: 10px;
}
/* line 82, ../sass/_editor.scss */
#content .spread-header {
  display: table;
  width: 100%;
}
/* line 86, ../sass/_editor.scss */
#content .spread-header div {
  vertical-align: top;
}
/* line 90, ../sass/_editor.scss */
#content .spread-header header {
  display: table-row;
}
/* line 93, ../sass/_editor.scss */
#content .spread-header header div {
  display: table-cell;
}
/* line 97, ../sass/_editor.scss */
#content .spread-header header div:first-child {
  width: 8em;
}
/* line 102, ../sass/_editor.scss */
#content .spread-header .row {
  display: table-row;
}
/* line 105, ../sass/_editor.scss */
#content .spread-header .row div {
  display: table-cell;
}
/* line 109, ../sass/_editor.scss */
#content .spread-header .row div:first-child {
  padding-right: 1em;
}
/* line 115, ../sass/_editor.scss */
#content #lblInputTitle {
  text-align: right;
  display: inline-block;
  width: 100%;
}
/* line 121, ../sass/_editor.scss */
#content .control {
  display: inline-block;
}
/* line 125, ../sass/_editor.scss */
#content #cell:nth-child(even) {
  background-color: #eef;
}
/* line 129, ../sass/_editor.scss */
#content #cell:nth-child(odd) {
  background-color: #cce;
}
/* line 133, ../sass/_editor.scss */
#content .step-text {
  margin-top: 10px;
}
/* line 138, ../sass/_editor.scss */
#content .callout-text #inputTitle {
  margin-bottom: 1em;
}
/* line 143, ../sass/_editor.scss */
#content textarea {
  width: 100%;
  font-size: 18px;
}
/* line 148, ../sass/_editor.scss */
#content span.glossary {
  font-weight: bold;
  color: blue;
}

/* line 155, ../sass/_editor.scss */
#layout .grid {
  position: relative;
  margin: 1em auto 0 auto;
}
/* line 159, ../sass/_editor.scss */
#layout .grid .cell {
  display: block;
  position: absolute;
}
/* line 163, ../sass/_editor.scss */
#layout .grid .cell .inset {
  position: absolute;
  background-color: orange;
}
/* line 167, ../sass/_editor.scss */
#layout .grid .cell .inset .ui-resizable-handle {
  width: 5px;
  right: -5px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #ccc;
  height: 100%;
}
/* line 176, ../sass/_editor.scss */
#layout .grid .cell .inset textarea {
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 184, ../sass/_editor.scss */
#layout .grid .cell.selected .inset {
  background-color: yellow;
}
/* line 190, ../sass/_editor.scss */
#layout .fixer {
  margin: 1em 0 1em 0;
  position: relative;
}
/* line 194, ../sass/_editor.scss */
#layout .fixer img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
/* line 201, ../sass/_editor.scss */
#layout .fixer .bounds {
  position: absolute;
  border: 2px dotted blue;
}
/* line 205, ../sass/_editor.scss */
#layout .fixer .bounds .cell-id {
  font-family: Courier;
  margin-left: .5em;
  color: blue;
}
/* line 211, ../sass/_editor.scss */
#layout .fixer .bounds .styling {
  width: 100%;
}
/* line 214, ../sass/_editor.scss */
#layout .fixer .bounds .styling textarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 222, ../sass/_editor.scss */
#layout .fixer .bounds:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 226, ../sass/_editor.scss */
#layout .fixer .bounds.selected {
  background-color: yellow;
}
/* line 232, ../sass/_editor.scss */
#layout #cell-property-table {
  display: none;
}
/* line 237, ../sass/_editor.scss */
#layout #propertyPane h4 {
  margin: .5em 0 0 0;
  text-align: center;
}

/* line 244, ../sass/_editor.scss */
.thumbnail {
  width: 250px;
  height: 250px;
  border: 2px solid #66a;
  border-radius: 10px;
  background-color: #339;
  padding: 10px;
}
/* line 253, ../sass/_editor.scss */
.thumbnail img {
  width: 100%;
}

/* line 258, ../sass/_editor.scss */
table.properties {
  border: 1px solid #669;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  margin-top: .5em;
}
/* line 268, ../sass/_editor.scss */
table.properties td {
  border: 1px solid #99e;
}
/* line 271, ../sass/_editor.scss */
table.properties td:first-child {
  background-color: #ddd;
}
/* line 275, ../sass/_editor.scss */
table.properties td input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
  padding: 0;
}
/* line 282, ../sass/_editor.scss */
table.properties td input:focus {
  outline: 0;
}

/* line 291, ../sass/_editor.scss */
.grid .inset .id-label {
  text-align: center;
  display: block;
  font-family: Courier;
}
/* line 297, ../sass/_editor.scss */
.grid .inset input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
}
/* line 305, ../sass/_editor.scss */
.grid .inset input[name='TL'] {
  top: 0;
  left: 0;
}
/* line 310, ../sass/_editor.scss */
.grid .inset input[name='TR'] {
  top: 0;
  right: 0;
}
/* line 315, ../sass/_editor.scss */
.grid .inset input[name='R'] {
  right: 0;
  top: 27px;
}
/* line 320, ../sass/_editor.scss */
.grid .inset input[name='BR'] {
  bottom: 0;
  right: 0;
}
/* line 325, ../sass/_editor.scss */
.grid .inset input[name='BL'] {
  bottom: 0;
  left: 0;
}
/* line 330, ../sass/_editor.scss */
.grid .inset input[name='L'] {
  left: 0;
  top: 27px;
}
