/*
@import "compass/css3";
@import "compass/typography";
@import "compass/css3/user-interface";
*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/_initializr.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/_initializr.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/_initializr.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/_initializr.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/_initializr.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/_initializr.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/_initializr.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_initializr.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/_initializr.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 96, ../sass/_initializr.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 103, ../sass/_initializr.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 110, ../sass/_initializr.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 115, ../sass/_initializr.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 127, ../sass/_initializr.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 136, ../sass/_initializr.scss */
.invisible {
  visibility: hidden;
}

/* line 141, ../sass/_initializr.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 146, ../sass/_initializr.scss */
.clearfix:after {
  clear: both;
}

/* line 150, ../sass/_initializr.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 159, ../sass/_initializr.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 167, ../sass/_initializr.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 171, ../sass/_initializr.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 175, ../sass/_initializr.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 185, ../sass/_initializr.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 190, ../sass/_initializr.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 195, ../sass/_initializr.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 200, ../sass/_initializr.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 204, ../sass/_initializr.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 214, ../sass/_initializr.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 220, ../sass/_initializr.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_layouts.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_layouts.scss */
html, body {
  background-color: #ffe;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 300;
  font-size: 110%;
}

/* line 17, ../sass/_layouts.scss */
html, body, p, h1 {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/_layouts.scss */
.layout {
  overflow: visible;
  margin: 0;
  padding: 25px 0;
}
/* line 27, ../sass/_layouts.scss */
.layout.loading {
  height: 0;
  visibility: hidden;
}
/* line 32, ../sass/_layouts.scss */
.layout.dark .fixed_step:not(.selected) .block {
  color: black;
}
/* line 35, ../sass/_layouts.scss */
.layout.dark .fixed_step:not(.selected) .block:before {
  background-color: white;
}
/* line 40, ../sass/_layouts.scss */
.layout.dark .step .block {
  color: black;
}
/* line 43, ../sass/_layouts.scss */
.layout.dark .step .block:before {
  background-color: white;
}

/* line 49, ../sass/_layouts.scss */
#container {
  background-color: #dd9;
}

/* line 53, ../sass/_layouts.scss */
.layout {
  /* drop shadow for white callout lines */
}
/* line 54, ../sass/_layouts.scss */
.layout .spread {
  position: relative;
  /* this allowed adding margins after extracted sidebars */
  display: table;
  width: 100%;
}
/* line 61, ../sass/_layouts.scss */
.layout .spread h1 {
  padding: .25em;
}
/* line 65, ../sass/_layouts.scss */
.layout .spread canvas {
  position: absolute;
  overflow: visible;
  z-index: 2;
  pointer-events: none;
  user-select: none;
}
/* line 73, ../sass/_layouts.scss */
.layout .spread .callout-line-target {
  position: absolute;
}
/* line 78, ../sass/_layouts.scss */
.layout .callout-line {
  -webkit-filter: drop-shadow(1px 1px 2px #333333);
}
/* line 83, ../sass/_layouts.scss */
.layout.dark .callout-line {
  -webkit-filter: drop-shadow(1px 1px 2px black);
}

/* line 88, ../sass/_layouts.scss */
.step {
  padding: 1em 1em 1em 2.75em;
}
/* line 91, ../sass/_layouts.scss */
.step h2 {
  margin: 0;
  line-height: 1.2em;
}
/* line 96, ../sass/_layouts.scss */
.step.no-number {
  padding-left: 0;
}
/* line 100, ../sass/_layouts.scss */
.step .image {
  margin: 10px;
  cursor: -webkit-zoom-in;
}
/* line 105, ../sass/_layouts.scss */
.step .clear-left {
  float: left;
  clear: left;
}
/* line 109, ../sass/_layouts.scss */
.step .clear-left.image {
  margin-right: 20px;
  margin-top: 20px;
}
/* line 115, ../sass/_layouts.scss */
.step .clear-right {
  float: right;
  clear: right;
}
/* line 123, ../sass/_layouts.scss */
.step:after {
  content: "";
  display: block;
  clear: both;
}

/* line 131, ../sass/_layouts.scss */
.textblock .span-text div {
  margin-top: .5em;
}

/* line 136, ../sass/_layouts.scss */
.spread.fixed, .spread.panzoom, .spread.swipe {
  margin-left: auto;
  margin-right: auto;
  /* leave a little space around extracted steps */
}
/* line 140, ../sass/_layouts.scss */
.spread.fixed h1, .spread.panzoom h1, .spread.swipe h1 {
  color: white;
  background-color: black;
}
/* line 145, ../sass/_layouts.scss */
.spread.fixed .step, .spread.panzoom .step, .spread.swipe .step {
  padding-left: 25px;
  padding-right: 25px;
}
/* line 150, ../sass/_layouts.scss */
.spread.fixed .image_holder, .spread.panzoom .image_holder, .spread.swipe .image_holder {
  position: relative;
  /* this fixed the jerky scrolling on iOS: */
  -webkit-overflow-scrolling: auto;
}
/* line 156, ../sass/_layouts.scss */
.spread.fixed .image_holder img, .spread.panzoom .image_holder img, .spread.swipe .image_holder img {
  cursor: -webkit-zoom-out;
}
/* line 160, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button, .spread.panzoom .image_holder .nav-button, .spread.swipe .image_holder .nav-button {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  background-color: #3F4756;
  border-radius: 25px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: FontAwesome;
  line-height: 100px;
  font-size: 60px;
  text-align: center;
  color: white;
  cursor: pointer;
}
/* line 175, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button:hover, .spread.panzoom .image_holder .nav-button:hover, .spread.swipe .image_holder .nav-button:hover {
  color: #911;
}
/* line 179, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button:active, .spread.panzoom .image_holder .nav-button:active, .spread.swipe .image_holder .nav-button:active {
  background-color: black;
}
/* line 183, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button.next, .spread.panzoom .image_holder .nav-button.next, .spread.swipe .image_holder .nav-button.next {
  top: 50%;
  right: -100px;
  margin-right: -10px;
}
/* line 189, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button.prev, .spread.panzoom .image_holder .nav-button.prev, .spread.swipe .image_holder .nav-button.prev {
  top: 50%;
  left: -100px;
  margin-left: -10px;
}
/* line 197, ../sass/_layouts.scss */
.spread.fixed .intro-text, .spread.panzoom .intro-text, .spread.swipe .intro-text {
  padding: .5em 1em 1em 1em;
}
/* line 201, ../sass/_layouts.scss */
.spread.fixed .fixed_step, .spread.panzoom .fixed_step, .spread.swipe .fixed_step {
  position: absolute;
  padding-left: 2.75em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* to prevent incidental double-click selecting text while clicking through text: */
  user-select: none;
  -webkit-user-select: none;
}
/* line 210, ../sass/_layouts.scss */
.spread.fixed .fixed_step.no-number, .spread.panzoom .fixed_step.no-number, .spread.swipe .fixed_step.no-number {
  padding-left: 1em;
  padding-right: 1em;
}
/* line 215, ../sass/_layouts.scss */
.spread.fixed .fixed_step h2, .spread.panzoom .fixed_step h2, .spread.swipe .fixed_step h2 {
  font-size: 120%;
  margin: .3em 0 .25em 0;
}
/* line 220, ../sass/_layouts.scss */
.spread.fixed .fixed_step.selected, .spread.panzoom .fixed_step.selected, .spread.swipe .fixed_step.selected {
  color: black;
}
/* line 224, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textblock, .spread.panzoom .fixed_step .textblock, .spread.swipe .fixed_step .textblock {
  line-height: 1.2em;
}
/* line 227, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textblock .span-text, .spread.panzoom .fixed_step .textblock .span-text, .spread.swipe .fixed_step .textblock .span-text {
  font-size: 90%;
}
/* line 230, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textblock .span-text div, .spread.panzoom .fixed_step .textblock .span-text div, .spread.swipe .fixed_step .textblock .span-text div {
  margin-top: .4em;
}
/* line 235, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textblock .column:nth-child(1n+2), .spread.panzoom .fixed_step .textblock .column:nth-child(1n+2), .spread.swipe .fixed_step .textblock .column:nth-child(1n+2) {
  display: none;
}
/* line 243, ../sass/_layouts.scss */
.spread.fixed .fixed_step .shape, .spread.panzoom .fixed_step .shape, .spread.swipe .fixed_step .shape {
  /*transition: transform .5s ease-in-out;*/
  transform-origin: 0 0;
}
/* line 248, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .shape, .spread.panzoom .fixed_step:not(.selected) .shape, .spread.swipe .fixed_step:not(.selected) .shape {
  z-index: 1;
}
/* line 251, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .shape:before, .spread.panzoom .fixed_step:not(.selected) .shape:before, .spread.swipe .fixed_step:not(.selected) .shape:before {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
/* line 256, ../sass/_layouts.scss */
.spread.fixed .fixed_step .bounds, .spread.panzoom .fixed_step .bounds, .spread.swipe .fixed_step .bounds {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
/* line 263, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textholder, .spread.panzoom .fixed_step .textholder, .spread.swipe .fixed_step .textholder {
  pointer-events: none;
  overflow: hidden;
}
/* line 270, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected):hover .bounds, .spread.panzoom .fixed_step:not(.selected):hover .bounds, .spread.swipe .fixed_step:not(.selected):hover .bounds {
  background-color: orange;
}
/* line 275, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .bounds, .spread.panzoom .fixed_step:not(.selected) .bounds, .spread.swipe .fixed_step:not(.selected) .bounds {
  border-radius: 15px;
  border: 2px dashed;
  opacity: .3;
}
/* line 281, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls, .spread.panzoom .fixed_step .controls, .spread.swipe .fixed_step .controls {
  position: absolute;
  right: 0;
  font-size: 15px;
  color: black;
}
/* line 287, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button, .spread.panzoom .fixed_step .controls .button, .spread.swipe .fixed_step .controls .button {
  position: relative;
  width: 15px;
  height: 15px;
  line-height: 15px;
  display: inline-block;
}
/* line 294, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button:before, .spread.panzoom .fixed_step .controls .button:before, .spread.swipe .fixed_step .controls .button:before {
  top: 0;
  left: 0;
  position: absolute;
  font-family: FontAwesome;
}
/* line 301, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button:hover:before, .spread.panzoom .fixed_step .controls .button:hover:before, .spread.swipe .fixed_step .controls .button:hover:before {
  color: #911;
}
/* line 305, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.dot:before, .spread.panzoom .fixed_step .controls .button.dot:before, .spread.swipe .fixed_step .controls .button.dot:before {
  content: "\0f10c";
}
/* line 309, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.dot.selected:before, .spread.panzoom .fixed_step .controls .button.dot.selected:before, .spread.swipe .fixed_step .controls .button.dot.selected:before {
  content: "\0f111";
}
/* line 313, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.dot.selected:hover:before, .spread.panzoom .fixed_step .controls .button.dot.selected:hover:before, .spread.swipe .fixed_step .controls .button.dot.selected:hover:before {
  color: black;
}
/* line 317, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.dot:hover:before, .spread.panzoom .fixed_step .controls .button.dot:hover:before, .spread.swipe .fixed_step .controls .button.dot:hover:before {
  content: "\0f111";
}
/* line 321, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.left-arrow:before, .spread.panzoom .fixed_step .controls .button.left-arrow:before, .spread.swipe .fixed_step .controls .button.left-arrow:before {
  content: "\0f053";
}
/* line 325, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.right-arrow:before, .spread.panzoom .fixed_step .controls .button.right-arrow:before, .spread.swipe .fixed_step .controls .button.right-arrow:before {
  content: "\0f054";
  left: 3px;
}
/* line 333, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .textblock, .spread.panzoom .fixed_step:not(.selected) .textblock, .spread.swipe .fixed_step:not(.selected) .textblock {
  opacity: .75;
}
/* line 337, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .controls, .spread.panzoom .fixed_step:not(.selected) .controls, .spread.swipe .fixed_step:not(.selected) .controls {
  display: none;
}
/* line 343, ../sass/_layouts.scss */
.spread.fixed .fixed_region, .spread.panzoom .fixed_region, .spread.swipe .fixed_region {
  position: absolute;
}
/* line 347, ../sass/_layouts.scss */
.spread.fixed .fixed-region.label, .spread.panzoom .fixed-region.label, .spread.swipe .fixed-region.label {
  position: absolute;
  display: inline-block;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 1rem;
  border-radius: 1rem;
  text-align: center;
  margin: 0;
  padding: .5rem .5rem;
  font-family: 'Oswald', sans-serif;
  white-space: nowrap;
  transition: transform .5s ease-in-out;
}
/* line 367, ../sass/_layouts.scss */
.spread.fixed .fixed-region.label:hover, .spread.panzoom .fixed-region.label:hover, .spread.swipe .fixed-region.label:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.5);
  transition: transform .1s linear;
  cursor: pointer;
  z-index: 1;
}
/* line 376, ../sass/_layouts.scss */
.spread.fixed .step.extracted, .spread.panzoom .step.extracted, .spread.swipe .step.extracted {
  max-width: 800px;
  margin: 0 auto;
}
/* line 381, ../sass/_layouts.scss */
.spread.fixed .sidebar.extracted, .spread.panzoom .sidebar.extracted, .spread.swipe .sidebar.extracted {
  max-width: 800px;
  margin: 15px auto;
}
/* line 386, ../sass/_layouts.scss */
.spread.fixed .cell-image.extracted, .spread.panzoom .cell-image.extracted, .spread.swipe .cell-image.extracted {
  margin: 15px auto;
  text-align: center;
}
/* line 391, ../sass/_layouts.scss */
.spread.fixed .highlight, .spread.panzoom .highlight, .spread.swipe .highlight {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  display: block;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform .5s ease, width .5s ease, height .5s ease, background-color 1.0s ease;
}
/* line 403, ../sass/_layouts.scss */
.spread.fixed .highlight.highlighted, .spread.panzoom .highlight.highlighted, .spread.swipe .highlight.highlighted {
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3) inset;
}
/* line 410, ../sass/_layouts.scss */
.spread.fixed h1 + .step.extracted, .spread.panzoom h1 + .step.extracted, .spread.swipe h1 + .step.extracted {
  margin-top: 25px;
}
/* line 414, ../sass/_layouts.scss */
.spread.fixed .step.extracted + .image_holder, .spread.panzoom .step.extracted + .image_holder, .spread.swipe .step.extracted + .image_holder {
  margin-top: 25px;
}
/* line 418, ../sass/_layouts.scss */
.spread.fixed .step.extracted:last-child, .spread.panzoom .step.extracted:last-child, .spread.swipe .step.extracted:last-child {
  padding-bottom: 25px;
}
/* line 422, ../sass/_layouts.scss */
.spread.fixed .block, .spread.fixed .diamond, .spread.panzoom .block, .spread.panzoom .diamond, .spread.swipe .block, .spread.swipe .diamond {
  cursor: pointer;
}

/* line 427, ../sass/_layouts.scss */
.spread.grid {
  padding-bottom: 50px;
  max-width: 1080px;
  margin: 0 auto;
}
/* line 432, ../sass/_layouts.scss */
.spread.grid .step {
  position: relative;
}
/* line 434, ../sass/_layouts.scss */
.spread.grid .step span.intro {
  text-transform: uppercase;
  font-weight: 800;
}
/* line 439, ../sass/_layouts.scss */
.spread.grid .step p.intro.span-text::first-letter {
  font-size: 120%;
}
/* line 445, ../sass/_layouts.scss */
.spread.grid .step.with-callout {
  cursor: pointer;
  border: 2px dashed gray;
  border-radius: 15px;
  transition: border .1s linear, background-color .5s ease-in-out;
}
/* line 452, ../sass/_layouts.scss */
.spread.grid .step.with-callout:hover {
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: inherit;
}
/* line 459, ../sass/_layouts.scss */
.spread.grid .interactive {
  min-height: 50px;
  margin: 0 auto;
}
/* line 464, ../sass/_layouts.scss */
.spread.grid .interactive .try-me {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 470, ../sass/_layouts.scss */
.spread.grid .interactive .interactive-contents {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  border: 10px solid #fff13f;
  position: relative;
  transition: border .2s linear;
}
/* line 478, ../sass/_layouts.scss */
.spread.grid .interactive .interactive-contents:hover {
  border: 10px solid white;
}
/* line 482, ../sass/_layouts.scss */
.spread.grid .interactive .interactive-contents:hover:after {
  content: "interactive";
  background-color: #fff13f;
  padding: 0 3em 0 .5em;
  border-radius: .5em 0 0 .5em;
  font-size: 150%;
  position: absolute;
  top: 10%;
  right: -20em;
  color: black;
  transition: right .5s linear;
}
/* line 495, ../sass/_layouts.scss */
.spread.grid .interactive .interactive-contents:not(:hover):after {
  content: "interactive";
  background-color: #fff13f;
  padding: 0 3em 0 .5em;
  border-radius: .5em 0 0 .5em;
  font-size: 150%;
  position: absolute;
  top: 10%;
  right: 0;
  color: black;
  transition: right .5s linear;
}
/* line 509, ../sass/_layouts.scss */
.spread.grid .interactive .pullover {
  position: absolute;
  right: 0;
  background-color: #fff13f;
  color: black;
  text-transform: lowercase;
  font-size: 175%;
  border-radius: .5em 0 0 .5em;
  box-shadow: 0 4px 8px #666;
  padding: 0 2em 0 .5em;
  transition: all .25s linear;
  cursor: pointer;
  z-index: 1;
}
/* line 523, ../sass/_layouts.scss */
.spread.grid .interactive .pullover:after {
  content: "\f138";
  font-family: FontAwesome;
  position: absolute;
  left: 80%;
  color: white;
}
/* line 531, ../sass/_layouts.scss */
.spread.grid .interactive .pullover:hover {
  padding-right: 6em;
}
/* line 537, ../sass/_layouts.scss */
.spread.grid .video video {
  display: block;
  margin: 0 auto;
}

/* line 544, ../sass/_layouts.scss */
.spread.panzoom .text_holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: auto;
  max-height: 90%;
  background: rgba(200, 50, 50, 0.75);
  padding: 1rem;
  margin-top: 42px;
  margin-left: 1em;
  color: white;
  overflow-y: scroll;
  word-wrap: break-word;
  /* force scrollbars on Mac? (Chrome only) */
}
/* line 560, ../sass/_layouts.scss */
.spread.panzoom .text_holder::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
/* line 565, ../sass/_layouts.scss */
.spread.panzoom .text_holder::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* line 572, ../sass/_layouts.scss */
.spread.panzoom .viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 577, ../sass/_layouts.scss */
.spread.panzoom .viewport .image_wrapper {
  transition: transform .5s ease-in-out, transform-origin .5s ease-in-out;
}
/* line 580, ../sass/_layouts.scss */
.spread.panzoom .viewport .image_wrapper.zoomedIn {
  cursor: pointer;
}

/* line 587, ../sass/_layouts.scss */
.spread.swipe {
  width: 100%;
  max-width: 1080px;
}
/* line 591, ../sass/_layouts.scss */
.spread.swipe .widget {
  width: 100%;
  margin: 25px auto 0 auto;
  background: inherit;
  overflow: hidden;
}
/* line 598, ../sass/_layouts.scss */
.spread.swipe .controls {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}
/* line 604, ../sass/_layouts.scss */
.spread.swipe .text_holder {
  width: 20%;
  float: left;
  height: 100%;
  background: rgba(200, 50, 50, 0.75);
  padding: 1rem;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  /* force scrollbars on Mac? (Chrome only) */
}
/* line 615, ../sass/_layouts.scss */
.spread.swipe .text_holder::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
/* line 620, ../sass/_layouts.scss */
.spread.swipe .text_holder::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
/* line 626, ../sass/_layouts.scss */
.spread.swipe .text_holder .block {
  position: relative;
  top: auto;
  left: auto;
}
/* line 633, ../sass/_layouts.scss */
.spread.swipe .text_holder .index .block {
  display: block;
  margin: 10px;
  transition: background-color .5s linear, color .5s linear;
  cursor: pointer;
}
/* line 639, ../sass/_layouts.scss */
.spread.swipe .text_holder .index .block:hover {
  color: black;
}
/* line 642, ../sass/_layouts.scss */
.spread.swipe .text_holder .index .block:hover:before {
  background-color: white !important;
}
/* line 649, ../sass/_layouts.scss */
.spread.swipe .text_holder h1 {
  font-size: 150%;
  color: black;
  background: none;
}
/* line 659, ../sass/_layouts.scss */
.spread.swipe .image_holder {
  overflow-y: scroll;
  overflow-x: hidden;
  float: right;
  width: 80%;
  height: 100%;
  border: 2px solid black;
  border-bottom: none;
}
/* line 669, ../sass/_layouts.scss */
.spread.swipe .shape {
  z-index: 1;
  box-shadow: -2px 2px 4px rgba(128, 128, 128, 0.7);
  /* this shadow was awfully blurry when scaled up via transform
  -webkit-filter: drop-shadow(-4px 4px 6px rgba(0, 0, 0, .5));
  */
}
/* line 678, ../sass/_layouts.scss */
.spread.swipe section.swipe_region {
  overflow: hidden;
}

/* line 683, ../sass/_layouts.scss */
.fixed-controls {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #222;
}
/* line 689, ../sass/_layouts.scss */
.fixed-controls .nav-buttons {
  display: table-cell;
  width: 125px;
  text-align: center;
  vertical-align: middle;
}
/* line 696, ../sass/_layouts.scss */
.fixed-controls .main-buttons {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 701, ../sass/_layouts.scss */
.fixed-controls .main-buttons .container {
  white-space: nowrap;
  overflow-x: scroll;
}
/* line 707, ../sass/_layouts.scss */
.fixed-controls .btn {
  vertical-align: middle;
}
/* line 711, ../sass/_layouts.scss */
.fixed-controls .btn.wordlabel {
  border: none;
  cursor: pointer;
  background: none;
  margin: 5px;
  display: inline-block;
  outline: none;
  position: relative;
  text-transform: none;
  transition: all 0.3s;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  max-width: 125px;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
}
/* line 731, ../sass/_layouts.scss */
.fixed-controls .btn.wordlabel span {
  white-space: normal;
}
/* line 735, ../sass/_layouts.scss */
.fixed-controls .btn.wordlabel:hover {
  background-color: white;
  color: black;
  border-radius: 15px;
}
/* line 741, ../sass/_layouts.scss */
.fixed-controls .btn.wordlabel:active {
  transition: all 0s;
  background-color: #333;
}
/* line 746, ../sass/_layouts.scss */
.fixed-controls .btn.wordlabel.selected {
  background-color: red;
  color: white;
}
/* line 752, ../sass/_layouts.scss */
.fixed-controls .btn.numeric, .fixed-controls .btn.symbol {
  border: none;
  cursor: pointer;
  background: none;
  margin: 6px 5px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  width: 28px;
  height: 28px;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  /* diamond */
}
/* line 773, ../sass/_layouts.scss */
.fixed-controls .btn.numeric:before, .fixed-controls .btn.symbol:before {
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .5s linear, background-color .5s linear;
}
/* line 782, ../sass/_layouts.scss */
.fixed-controls .btn.numeric span, .fixed-controls .btn.symbol span {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  text-align: center;
}
/* line 790, ../sass/_layouts.scss */
.fixed-controls .btn.numeric span.up, .fixed-controls .btn.symbol span.up {
  top: -3px;
}
/* line 794, ../sass/_layouts.scss */
.fixed-controls .btn.numeric:hover, .fixed-controls .btn.symbol:hover {
  color: black;
}
/* line 797, ../sass/_layouts.scss */
.fixed-controls .btn.numeric:hover:before, .fixed-controls .btn.symbol:hover:before {
  background-color: white;
}
/* line 803, ../sass/_layouts.scss */
.fixed-controls .btn.numeric:active:before, .fixed-controls .btn.symbol:active:before {
  transform: all 0s;
  background-color: #666;
}
/* line 811, ../sass/_layouts.scss */
.fixed-controls .btn.numeric.selected:before, .fixed-controls .btn.symbol.selected:before {
  background-color: red;
  transform: rotate(45deg);
}

/* line 822, ../sass/_layouts.scss */
.interactive-contents.full-screen {
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
/* line 832, ../sass/_layouts.scss */
.interactive-contents.full-screen:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  z-index: -1;
}
/* line 844, ../sass/_layouts.scss */
.interactive-contents.full-screen.expanded {
  transform: scale(1);
}
/* line 848, ../sass/_layouts.scss */
.interactive-contents.full-screen #interactive-close {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 854, ../sass/_layouts.scss */
.interactive-contents.full-screen iframe {
  display: block;
  margin: 0 auto;
  transform-origin: 0 0;
  padding: 10px;
  background-color: #fff13f;
}

/* line 863, ../sass/_layouts.scss */
button.basic {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background-color: black;
  padding: 0;
  color: #ddd;
  cursor: pointer;
}
/* line 873, ../sass/_layouts.scss */
button.basic:hover {
  background-color: #666;
  color: white;
}

/* line 879, ../sass/_layouts.scss */
div.sidebar {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: top .5s ease, height 1s ease;
}
/* line 888, ../sass/_layouts.scss */
div.sidebar h2 {
  display: block;
  font-weight: bold;
  padding: .5em .5em;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  background-color: #e0d988;
  border-bottom: 2px solid black;
  text-align: left;
}
/* line 901, ../sass/_layouts.scss */
div.sidebar .interior p {
  padding: .75em .5em .75em .5em;
  font-size: 16px;
  line-height: 1.5em;
}
/* line 907, ../sass/_layouts.scss */
div.sidebar .interior div {
  margin-top: .5em;
}
/* line 911, ../sass/_layouts.scss */
div.sidebar .interior img {
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
  cursor: -webkit-zoom-in;
}

/* line 926, ../sass/_layouts.scss */
div.cell {
  /*
  	border: 2px solid black;
  	border-radius: 15px;
  */
  margin: 15px 5px;
  padding: 1em;
  width: 49%;
  /* leave cell overflow visible so the callout lines can extend beyond the cell? */
  /*	overflow: hidden;*/
}
/* line 937, ../sass/_layouts.scss */
div.cell .top {
  margin: 0 auto;
}
/* line 941, ../sass/_layouts.scss */
div.cell .bottom {
  margin: 0 auto;
}

/* line 947, ../sass/_layouts.scss */
.cell-image img {
  display: block;
  margin: 0 auto;
  cursor: -webkit-zoom-in;
}

/* line 954, ../sass/_layouts.scss */
.diamond {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 1em;
  left: 13px;
  font-family: 'Oswald', sans-serif;
}
/* line 969, ../sass/_layouts.scss */
.diamond:before {
  content: "";
  background-color: red;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
}
/* line 978, ../sass/_layouts.scss */
.diamond span {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 987, ../sass/_layouts.scss */
.block {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  left: 13px;
  top: .6em;
}
/* line 1004, ../sass/_layouts.scss */
.block:before {
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 1012, ../sass/_layouts.scss */
.block span {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 1021, ../sass/_layouts.scss */
span.glossary {
  font-weight: bold;
}

/* line 1025, ../sass/_layouts.scss */
span.red {
  color: #FF032B;
}

/* line 1029, ../sass/_layouts.scss */
span.green {
  color: #008146;
}

/* line 1033, ../sass/_layouts.scss */
span.blue {
  color: #277BBB;
}

/* line 1037, ../sass/_layouts.scss */
.spacer {
  width: 0;
}

/* line 1041, ../sass/_layouts.scss */
div.image-callout {
  font-size: 12px;
  position: absolute;
  padding: 0 1.5em;
}
/* line 1046, ../sass/_layouts.scss */
div.image-callout span {
  display: block;
  padding: 0 3px;
}

/* line 1052, ../sass/_layouts.scss */
.toc-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 0;
}

/* line 1059, ../sass/_layouts.scss */
.toc {
  width: 100%;
  background-color: #ddd;
}
/* line 1063, ../sass/_layouts.scss */
.toc .entry {
  width: 100%;
  background-color: #a0a0ff;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  color: white;
  line-height: 70px;
  padding-left: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* line 1075, ../sass/_layouts.scss */
.toc .entry.selected {
  background-color: brown !important;
  color: white !important;
}
/* line 1080, ../sass/_layouts.scss */
.toc .entry:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
/* line 1092, ../sass/_layouts.scss */
.toc .entry.chapter {
  height: 70px;
  font-size: 24px;
  text-shadow: -1px 1px 2px #666;
}
/* line 1098, ../sass/_layouts.scss */
.toc .entry.toc-chapter {
  padding-left: .25rem;
  color: black;
}
/* line 1102, ../sass/_layouts.scss */
.toc .entry.toc-chapter .title {
  text-shadow: none;
}
/* line 1107, ../sass/_layouts.scss */
.toc .entry.toc-part {
  background-color: wheat !important;
  color: black;
  padding-left: .25rem;
}
/* line 1112, ../sass/_layouts.scss */
.toc .entry.toc-part .title {
  text-shadow: none;
}
/* line 1117, ../sass/_layouts.scss */
.toc .entry.spread {
  /*			height: 0 !important;*/
}
/* line 1122, ../sass/_layouts.scss */
.toc .entry:hover .number {
  color: black;
}
/* line 1127, ../sass/_layouts.scss */
.toc .entry .number {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  font-size: 3rem;
  padding-left: .25em;
}
/* line 1136, ../sass/_layouts.scss */
.toc .entry .title {
  /*			position: absolute;
  			bottom: 0;
  			right: 0;
  			*/
  font-size: 1.25rem;
  text-align: right;
  padding: .5em .5em .5em .25em;
  line-height: 1.25em;
  text-shadow: 1px 1px 4px black;
  font-weight: 400;
  z-index: 100;
}
/* line 1149, ../sass/_layouts.scss */
.toc .entry .title .chapter {
  text-align: left;
  font-weight: 700;
  margin-bottom: .5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
/* line 1158, ../sass/_layouts.scss */
.toc .entry .thumbnail {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
  height: 50%;
  width: 50%;
  background-size: contain;
  opacity: .5;
}

/* line 1171, ../sass/_layouts.scss */
#toc {
  -webkit-overflow-scrolling: touch;
}

/* line 1176, ../sass/_layouts.scss */
#toc-header #header {
  background-color: #3a3a3a;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding: 14px 0 0 0;
  margin: 0;
}
/* line 1185, ../sass/_layouts.scss */
#toc-header #header .half {
  width: 50%;
}
/* line 1189, ../sass/_layouts.scss */
#toc-header #header .left {
  float: left;
}
/* line 1193, ../sass/_layouts.scss */
#toc-header #header .right {
  float: right;
}
/* line 1197, ../sass/_layouts.scss */
#toc-header #header .tiny {
  font-size: 10px;
  line-height: 8px;
}
/* line 1202, ../sass/_layouts.scss */
#toc-header #header .number {
  font-size: 24px;
}
/* line 1206, ../sass/_layouts.scss */
#toc-header #header #settingsButton {
  position: absolute;
  right: 0;
}

/* line 1214, ../sass/_layouts.scss */
#toc-footer #search-area {
  width: 100%;
  height: 100%;
  line-height: 70px;
  background-color: #3A3A3A;
}
/* line 1220, ../sass/_layouts.scss */
#toc-footer #search-area i {
  color: white;
  padding: 10px;
  width: 20%;
  text-align: center;
}
/* line 1227, ../sass/_layouts.scss */
#toc-footer #search-area #search-box {
  background: none;
  border: 2px solid #aaf;
  font-size: 110%;
  line-height: 1.5rem;
  height: 2rem;
  width: 70%;
  border-radius: 15px;
  color: white;
  vertical-align: middle;
  padding: 8px;
  outline: none;
}

/* line 1243, ../sass/_layouts.scss */
#main-content {
  -webkit-overflow-scrolling: touch;
}

/* line 1247, ../sass/_layouts.scss */
#main-center {
  overflow: hidden !important;
}

/* line 1251, ../sass/_layouts.scss */
#content {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

/* line 1258, ../sass/_layouts.scss */
#content-holder {
  background-color: wheat;
  width: 100%;
  box-shadow: 12px 0 24px -12px rgba(0, 0, 0, 0.7) inset;
  padding: 15px;
  /*
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  */
  position: relative;
}

/* line 1272, ../sass/_layouts.scss */
#main-south {
  background-color: #efeffe !important;
}
/* line 1275, ../sass/_layouts.scss */
#main-south #search-text {
  color: #D4D4D4;
  line-height: 70px;
  font-size: 24px;
  padding-left: 2em;
  vertical-align: top;
  position: absolute;
}

/* line 1285, ../sass/_layouts.scss */
#fixed-layout-controls {
  position: fixed;
  bottom: 0;
  z-index: 10;
  text-align: center;
  height: 70px;
  white-space: nowrap;
  background-color: #efeffe;
  border-radius: 15px 15px 0 0;
  max-width: 100%;
  padding: 0 0;
  overflow-x: scroll;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
}
/* line 1299, ../sass/_layouts.scss */
#fixed-layout-controls .btn {
  border: none;
  border-right: 1px solid white;
  cursor: pointer;
  background: none;
  margin: 0;
  display: inline-block;
  outline: none;
  position: relative;
  transition: all 0.3s;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  max-width: 75px;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
}
/* line 1320, ../sass/_layouts.scss */
#fixed-layout-controls .btn span {
  white-space: normal;
}
/* line 1325, ../sass/_layouts.scss */
#fixed-layout-controls .arrow-button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 0 20px;
  height: 90%;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: background 0.1s;
  border: 3px solid #55A;
  border-radius: 15px;
  color: #55A;
  margin: 0 5px;
  top: 5%;
  overflow: hidden;
}
/* line 1351, ../sass/_layouts.scss */
#fixed-layout-controls #previous-button:before {
  content: "\f053";
  position: absolute;
  left: 130%;
  transition: all 0.3s;
}
/* line 1358, ../sass/_layouts.scss */
#fixed-layout-controls #previous-button:hover:before {
  left: 50%;
}
/* line 1362, ../sass/_layouts.scss */
#fixed-layout-controls #previous-button:active {
  color: white;
  background: black;
}
/* line 1367, ../sass/_layouts.scss */
#fixed-layout-controls #next-button:before {
  content: "\f054";
  position: absolute;
  left: -30%;
  transition: all 0.3s;
}
/* line 1374, ../sass/_layouts.scss */
#fixed-layout-controls #next-button:hover:before {
  left: 25%;
}
/* line 1378, ../sass/_layouts.scss */
#fixed-layout-controls #next-button:active {
  color: white;
  background: black;
}
/* line 1383, ../sass/_layouts.scss */
#fixed-layout-controls div#direct-buttons {
  display: inline;
  height: 100%;
  white-space: nowrap;
}
/* line 1389, ../sass/_layouts.scss */
#fixed-layout-controls button#previous-button, #fixed-layout-controls button#next-button {
  font-family: FontAwesome;
  background-color: #3F4756;
  color: white;
  border: none;
}

/* line 1397, ../sass/_layouts.scss */
#prev-ad {
  display: none;
}

/* line 1401, ../sass/_layouts.scss */
#next-ad {
  display: none;
}

/* line 1405, ../sass/_layouts.scss */
.ad-banner {
  width: 100%;
  max-width: 1080px;
  display: block;
  margin: 25px auto;
}
/* line 1411, ../sass/_layouts.scss */
.ad-banner:after {
  clear: both;
  content: "";
  display: block;
}
/* line 1417, ../sass/_layouts.scss */
.ad-banner > header {
  background-color: black;
  margin-top: 15px;
}
/* line 1421, ../sass/_layouts.scss */
.ad-banner > header h1 {
  text-transform: uppercase;
  color: white;
  font-size: 140%;
  padding: .25rem .5rem;
}
/* line 1429, ../sass/_layouts.scss */
.ad-banner .wide-ad {
  background-color: white;
  position: relative;
}
/* line 1433, ../sass/_layouts.scss */
.ad-banner .wide-ad header {
  position: absolute;
  bottom: 0;
}
/* line 1437, ../sass/_layouts.scss */
.ad-banner .wide-ad header h1 {
  font-family: Oswald;
  font-size: 250%;
  color: white;
  padding: .1em .5em;
  text-shadow: 0px 2px 6px black;
}
/* line 1446, ../sass/_layouts.scss */
.ad-banner .wide-ad .preview-image {
  width: 100%;
  height: 200px;
}
/* line 1454, ../sass/_layouts.scss */
.ad-banner .ad-area .ad:nth-child(1):before {
  background: linear-gradient(135deg, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
}
/* line 1460, ../sass/_layouts.scss */
.ad-banner .ad-area .ad:nth-child(2):before {
  background: linear-gradient(135deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
}
/* line 1466, ../sass/_layouts.scss */
.ad-banner .ad-area .ad:nth-child(3):before {
  background: linear-gradient(135deg, #627d4d 0%, #1f3b08 100%);
}
/* line 1472, ../sass/_layouts.scss */
.ad-banner .small-ad {
  width: 33.3%;
  border-top: 1px solid #ccc;
  float: left;
}
/* line 1477, ../sass/_layouts.scss */
.ad-banner .small-ad header {
  position: absolute;
  bottom: 0;
}
/* line 1481, ../sass/_layouts.scss */
.ad-banner .small-ad header h1 {
  font-family: Oswald;
  font-size: 150%;
  color: white;
  padding: .1em .5em;
  text-shadow: 0px 1px 3px black;
}
/* line 1490, ../sass/_layouts.scss */
.ad-banner .small-ad .preview-image {
  width: 100%;
  height: 150px;
}
/* line 1496, ../sass/_layouts.scss */
.ad-banner .ad {
  position: relative;
  cursor: pointer;
}
/* line 1500, ../sass/_layouts.scss */
.ad-banner .ad:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #842143 0%, #af4282 37%, #ea2803 51%, #ff6600 75%, #c72200 100%);
  opacity: .5;
  transition: opacity .25s linear;
}
/* line 1514, ../sass/_layouts.scss */
.ad-banner .ad:hover:before {
  opacity: .75;
}
/* line 1520, ../sass/_layouts.scss */
.ad-banner .preview-image {
  background-image: url(https://s3.amazonaws.com/HCW10/Images/1_3/atom.svg);
  background-size: contain;
}

/* line 1526, ../sass/_layouts.scss */
#prev-ad .wide-ad header {
  bottom: auto;
  top: 0;
}

/* line 1531, ../sass/_layouts.scss */
#current-spread-name {
  position: fixed;
  z-index: 5;
  transition: top 1s ease-in-out;
  top: -50px;
  display: none;
}
/* line 1538, ../sass/_layouts.scss */
#current-spread-name h1 {
  padding: .1em 1em .1em 1em;
  background-color: #333;
  color: white;
  border-radius: 0 0 15px 0;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-size: 1.5rem;
}

/* Loading spinner: */
/* line 1551, ../sass/_layouts.scss */
.spinner {
  margin: 300px auto;
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
}

/* line 1559, ../sass/_layouts.scss */
.cube1, .cube2 {
  background-color: black;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

/* line 1571, ../sass/_layouts.scss */
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  /* line 1577, ../sass/_layouts.scss */
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  /* line 1578, ../sass/_layouts.scss */
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  /* line 1579, ../sass/_layouts.scss */
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  /* line 1580, ../sass/_layouts.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes cubemove {
  /* line 1584, ../sass/_layouts.scss */
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  /* line 1587, ../sass/_layouts.scss */
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  /* line 1590, ../sass/_layouts.scss */
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  /* line 1593, ../sass/_layouts.scss */
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  /* line 1596, ../sass/_layouts.scss */
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* ^ Loading spinner */
/* line 1604, ../sass/_layouts.scss */
.testrect {
  position: absolute;
  border: 1px solid yellow;
  pointer-events: none;
}

/* line 1610, ../sass/_layouts.scss */
#results-pane {
  position: fixed;
  bottom: 70px;
  z-index: 10;
  min-width: 300px;
  max-width: 50%;
  display: none;
}
/* line 1618, ../sass/_layouts.scss */
#results-pane #results-header {
  background: red;
  height: 2rem;
  line-height: 2rem;
  border-radius: 0 25px 0 0;
}
/* line 1624, ../sass/_layouts.scss */
#results-pane #results-header #label {
  font-size: 150%;
}
/* line 1628, ../sass/_layouts.scss */
#results-pane #results-header #close-button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
/* line 1634, ../sass/_layouts.scss */
#results-pane #results-header #close-button .fa-times {
  font-size: .75em;
  margin-top: -1px;
}
/* line 1641, ../sass/_layouts.scss */
#results-pane #results-header #close-button:hover .fa-times {
  color: #999;
}
/* line 1647, ../sass/_layouts.scss */
#results-pane #results-scroller {
  background: white;
  padding: 1rem 0;
  max-height: 500px;
  width: auto;
  overflow: scroll;
}
/* line 1657, ../sass/_layouts.scss */
#results-pane #results-scroller .result {
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 1em;
  cursor: pointer;
  width: auto;
  overflow: hidden;
}
/* line 1665, ../sass/_layouts.scss */
#results-pane #results-scroller .result:hover {
  background: #116;
  color: white;
}
/* line 1672, ../sass/_layouts.scss */
#results-pane #results-summary {
  background: orange;
  padding-left: 1rem;
}

/* line 1678, ../sass/_layouts.scss */
.spread.page {
  max-width: 1080px;
  margin: 0 auto;
}
/* line 1682, ../sass/_layouts.scss */
.spread.page header {
  padding: 1rem 0 2rem 0;
}
/* line 1686, ../sass/_layouts.scss */
.spread.page header div.number p:first-child {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
}
/* line 1695, ../sass/_layouts.scss */
.spread.page header div.number p:nth-child(2) {
  font-size: 12rem;
  font-weight: 700;
  line-height: 12rem;
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
}
/* line 1705, ../sass/_layouts.scss */
.spread.page header h1 {
  font-weight: 700;
  color: black;
  font-size: 6rem;
  line-height: 6rem;
}
/* line 1712, ../sass/_layouts.scss */
.spread.page header.part {
  background-color: white;
}
/* line 1715, ../sass/_layouts.scss */
.spread.page header.part h1 {
  text-align: center;
}
/* line 1719, ../sass/_layouts.scss */
.spread.page header.part div.number {
  color: #e3865e;
  text-align: center;
}
/* line 1723, ../sass/_layouts.scss */
.spread.page header.part div.number p:first-child {
  letter-spacing: 2rem;
}
/* line 1728, ../sass/_layouts.scss */
.spread.page header.part .chapters {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid black;
  font-size: 125%;
  letter-spacing: 1.5rem;
  font-weight: 700;
  color: #e3865e;
  padding: 2rem 0 .5rem 0;
  margin: 0 5rem;
}
/* line 1740, ../sass/_layouts.scss */
.spread.page header.part .chapter-listing {
  display: block;
  text-decoration: none;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
/* line 1749, ../sass/_layouts.scss */
.spread.page header.part .chapter-listing .number {
  color: #e3865e;
  padding-right: 2rem;
  letter-spacing: .2rem;
}
/* line 1755, ../sass/_layouts.scss */
.spread.page header.part .chapter-listing .title {
  color: black;
}
/* line 1760, ../sass/_layouts.scss */
.spread.page header.part .chapter-listing:hover .number, .spread.page header.part .chapter-listing:hover .title {
  color: #04a;
}
/* line 1768, ../sass/_layouts.scss */
.spread.page header.chapter div.number {
  width: 30%;
  float: left;
  color: white;
  text-align: center;
}
/* line 1775, ../sass/_layouts.scss */
.spread.page header.chapter h1 {
  width: 70%;
  float: left;
}
/* line 1781, ../sass/_layouts.scss */
.spread.page header:after {
  clear: both;
  display: block;
  content: "";
}
/* line 1788, ../sass/_layouts.scss */
.spread.page section.page {
  background-color: white;
  padding: 2rem 3rem;
  box-shadow: 0 12px 36px -12px rgba(0, 0, 0, 0.7) inset;
  line-height: 1.7rem;
}
/* line 1795, ../sass/_layouts.scss */
.spread.page section.page section {
  padding-bottom: 1.5rem;
}
/* line 1798, ../sass/_layouts.scss */
.spread.page section.page section p:nth-of-type(n+2) {
  text-indent: 2rem;
}
/* line 1803, ../sass/_layouts.scss */
.spread.page section.page a {
  text-decoration: none;
  color: #3879D9;
}
/* line 1807, ../sass/_layouts.scss */
.spread.page section.page a:hover {
  color: #04a;
}
/* line 1812, ../sass/_layouts.scss */
.spread.page section.page h1 {
  font-size: 200%;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  padding: .25em 0;
  clear: both;
}
/* line 1822, ../sass/_layouts.scss */
.spread.page section.page h1 + figure + p, .spread.page section.page h1 + p {
  text-indent: 0 !important;
}
/* line 1826, ../sass/_layouts.scss */
.spread.page section.page .center {
  display: block;
  margin: 0 auto;
  padding-bottom: 2rem;
}
/* line 1832, ../sass/_layouts.scss */
.spread.page section.page .left {
  float: left;
}
/* line 1836, ../sass/_layouts.scss */
.spread.page section.page .right {
  float: right;
}
/* line 1840, ../sass/_layouts.scss */
.spread.page section.page .drop-cap {
  margin: -5px 5px 0 0;
  float: left;
}
/* line 1845, ../sass/_layouts.scss */
.spread.page section.page img {
  margin: 10px;
}
/* line 1849, ../sass/_layouts.scss */
.spread.page section.page figure {
  font-size: .75em;
  line-height: 1.4em;
  display: table;
  padding: 5px;
  margin: 10px;
}
/* line 1857, ../sass/_layouts.scss */
.spread.page section.page figure img {
  display: block;
  max-width: 100%;
}
/* line 1862, ../sass/_layouts.scss */
.spread.page section.page figcaption {
  display: table-caption;
  caption-side: bottom;
  padding: 0 5px 5px;
  margin: 0 10px;
  font-weight: bold;
}
/* line 1869, ../sass/_layouts.scss */
.spread.page section.page figcaption h1 {
  font-weight: bold;
  font-size: 125%;
  margin: 0;
}
/* line 1876, ../sass/_layouts.scss */
.spread.page section.page footer {
  font-size: .83rem;
  vertical-align: super;
}
/* line 1882, ../sass/_layouts.scss */
.spread.page section.page > div > footer:before {
  content: "";
  display: block;
  width: 8em;
  border-top: 1px solid black;
}
/* line 1890, ../sass/_layouts.scss */
.spread.page section.page blockquote {
  font-style: italic;
}
/* line 1893, ../sass/_layouts.scss */
.spread.page section.page blockquote footer {
  font-weight: 700;
  text-align: right;
}
/* line 1897, ../sass/_layouts.scss */
.spread.page section.page blockquote footer cite {
  font-style: normal;
}
/* line 1901, ../sass/_layouts.scss */
.spread.page section.page blockquote footer:before {
  content: "—";
  display: inline;
  padding-right: 3px;
}
/* line 1909, ../sass/_layouts.scss */
.spread.page section.page .italic {
  font-style: italic;
}
/* line 1913, ../sass/_layouts.scss */
.spread.page section.page .bold {
  font-weight: bold;
}
/* line 1917, ../sass/_layouts.scss */
.spread.page section.page .super {
  vertical-align: super;
  font-size: 60%;
}
/* line 1922, ../sass/_layouts.scss */
.spread.page section.page span.init-cap-words {
  color: #e3865e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
}
/* line 1930, ../sass/_layouts.scss */
.spread.page section.page ul li:after {
  clear: both;
  content: "";
  display: block;
}
/* line 1936, ../sass/_layouts.scss */
.spread.page section.page ol {
  counter-reset: li;
}
/* line 1939, ../sass/_layouts.scss */
.spread.page section.page ol > li {
  position: relative;
  list-style: none;
}
/* line 1943, ../sass/_layouts.scss */
.spread.page section.page ol > li:before {
  content: counter(li) ". ";
  counter-increment: li;
  font-weight: bold;
  color: #e3865e;
}

/* had to adjust z-index to get the drop-shadow to work */
/* line 1955, ../sass/_layouts.scss */
#toc-container {
  z-index: 1 !important;
}

/* line 1959, ../sass/_layouts.scss */
.ui-layout-resizer-west-open {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 5px 0px 30px 5px rgba(0, 0, 0, 0.75);
  z-index: 0 !important;
}

/* line 1966, ../sass/_layouts.scss */
.ui-layout-west .ui-layout-pane-center, .ui-layout-west .ui-layout-pane-south, .ui-layout-west .ui-layout-pane-north {
  border: none;
  padding: 0;
}

/* line 1972, ../sass/_layouts.scss */
.ui-layout-toggler-west-closed {
  background-image: url(images/toggler.png);
  pointer-events: none;
}

/* line 1977, ../sass/_layouts.scss */
#settings {
  position: fixed;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  border: 5px solid blue;
  display: none;
  width: 400px;
  height: 200px;
  text-align: center;
}
/* line 1988, ../sass/_layouts.scss */
#settings button {
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  bottom: 15px;
  display: block;
}
