/*
@import "compass/css3";
@import "compass/typography";
@import "compass/css3/user-interface";
*/
/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
/* line 9, ../sass/_initializr.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 13, ../sass/_initializr.scss */
body {
  font-size: 1em;
  line-height: 1.4;
}

/* line 18, ../sass/_initializr.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 23, ../sass/_initializr.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 28, ../sass/_initializr.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 37, ../sass/_initializr.scss */
img {
  vertical-align: middle;
}

/* line 41, ../sass/_initializr.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 47, ../sass/_initializr.scss */
textarea {
  resize: vertical;
}

/* line 51, ../sass/_initializr.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 96, ../sass/_initializr.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 103, ../sass/_initializr.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 110, ../sass/_initializr.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 115, ../sass/_initializr.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 127, ../sass/_initializr.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 136, ../sass/_initializr.scss */
.invisible {
  visibility: hidden;
}

/* line 141, ../sass/_initializr.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 146, ../sass/_initializr.scss */
.clearfix:after {
  clear: both;
}

/* line 150, ../sass/_initializr.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 159, ../sass/_initializr.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 167, ../sass/_initializr.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 171, ../sass/_initializr.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 175, ../sass/_initializr.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 185, ../sass/_initializr.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 190, ../sass/_initializr.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 195, ../sass/_initializr.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 200, ../sass/_initializr.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 204, ../sass/_initializr.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 214, ../sass/_initializr.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 220, ../sass/_initializr.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_layouts.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_layouts.scss */
html, body {
  background-color: #ffe;
  font-family: sans-serif;
}

/* line 12, ../sass/_layouts.scss */
html, body, p, h1 {
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/_layouts.scss */
.centered {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: relative;
  z-index: 1;
}

/* line 26, ../sass/_layouts.scss */
.layout {
  /*
  padding: 1em 0;
  border-top: 2em solid black;
  */
  overflow: visible;
}
/* line 33, ../sass/_layouts.scss */
.layout.loading {
  height: 0;
  visibility: hidden;
}
/* line 38, ../sass/_layouts.scss */
.layout.dark .fixed_step:not(.selected) .block {
  color: black;
}
/* line 41, ../sass/_layouts.scss */
.layout.dark .fixed_step:not(.selected) .block:before {
  background-color: white;
}
/* line 46, ../sass/_layouts.scss */
.layout.dark .step .block {
  color: black;
}
/* line 49, ../sass/_layouts.scss */
.layout.dark .step .block:before {
  background-color: white;
}
/* line 54, ../sass/_layouts.scss */
.layout:nth-child(n+2) {
  margin-top: 25px;
}

/* line 59, ../sass/_layouts.scss */
#container {
  background-color: #dd9;
}

/* line 64, ../sass/_layouts.scss */
.layout {
  /* drop shadow for white callout lines */
}
/* line 65, ../sass/_layouts.scss */
.layout .spread {
  position: relative;
  /* this allowed adding margins after extracted sidebars */
  display: table;
  width: 100%;
}
/* line 72, ../sass/_layouts.scss */
.layout .spread h1 {
  padding: .25em;
}
/* line 76, ../sass/_layouts.scss */
.layout .spread canvas {
  position: absolute;
  overflow: visible;
  z-index: 2;
  pointer-events: none;
}
/* line 83, ../sass/_layouts.scss */
.layout .spread .callout-line-target {
  position: absolute;
}
/* line 88, ../sass/_layouts.scss */
.layout .callout-line {
  -webkit-filter: drop-shadow(1px 1px 2px #333333);
}
/* line 93, ../sass/_layouts.scss */
.layout.dark .callout-line {
  -webkit-filter: drop-shadow(1px 1px 2px black);
}

/* line 98, ../sass/_layouts.scss */
.step {
  padding-left: 2.75em;
}
/* line 101, ../sass/_layouts.scss */
.step.no-number {
  padding-left: 0;
}
/* line 105, ../sass/_layouts.scss */
.step .clear-left {
  float: left;
  clear: left;
}
/* line 109, ../sass/_layouts.scss */
.step .clear-left.image {
  margin-right: 20px;
  margin-top: 20px;
}
/* line 115, ../sass/_layouts.scss */
.step .clear-right {
  float: right;
  clear: right;
}
/* line 123, ../sass/_layouts.scss */
.step:after {
  content: "";
  display: block;
  clear: both;
}

/* line 130, ../sass/_layouts.scss */
.spread.fixed {
  margin-left: auto;
  margin-right: auto;
  /* leave a little space around extracted steps */
}
/* line 134, ../sass/_layouts.scss */
.spread.fixed h1 {
  color: white;
  background-color: black;
}
/* line 139, ../sass/_layouts.scss */
.spread.fixed .image_holder {
  position: relative;
}
/* line 142, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  background-color: #3F4756;
  border-radius: 25px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-family: FontAwesome;
  line-height: 100px;
  font-size: 60px;
  text-align: center;
  color: white;
  cursor: pointer;
}
/* line 157, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button:hover {
  color: #911;
}
/* line 161, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button.next {
  top: 50%;
  right: -100px;
  margin-right: -10px;
}
/* line 167, ../sass/_layouts.scss */
.spread.fixed .image_holder .nav-button.prev {
  top: 50%;
  left: -100px;
  margin-left: -10px;
}
/* line 175, ../sass/_layouts.scss */
.spread.fixed .intro-text {
  padding: .5em 1em 1em 1em;
}
/* line 179, ../sass/_layouts.scss */
.spread.fixed .fixed_step {
  position: absolute;
  padding-left: 2.75em;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 185, ../sass/_layouts.scss */
.spread.fixed .fixed_step.no-number {
  padding-left: 1em;
  padding-right: 1em;
}
/* line 190, ../sass/_layouts.scss */
.spread.fixed .fixed_step h2 {
  font-size: 120%;
}
/* line 194, ../sass/_layouts.scss */
.spread.fixed .fixed_step.selected h2 {
  color: black;
}
/* line 198, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textblock {
  /*			overflow-y: scroll;*/
  color: black;
  line-height: 1.4em;
}
/* line 204, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textblock .span-text div {
  margin-top: .4em;
}
/* line 209, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textblock .column:nth-child(1n+2) {
  display: none;
}
/* line 217, ../sass/_layouts.scss */
.spread.fixed .fixed_step.overflow:not(.selected):after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  bottom: -20px;
  background-image: url(images/plus.png);
  background-size: contain;
  transition: opacity .25s;
  opacity: .5;
}
/* line 230, ../sass/_layouts.scss */
.spread.fixed .fixed_step.overflow.selected:after {
  content: "";
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  bottom: -20px;
  background-image: url(images/plus.png);
  background-size: contain;
  transition: opacity .25s;
}
/* line 243, ../sass/_layouts.scss */
.spread.fixed .fixed_step .shape {
  /*transition: transform .5s ease-in-out;*/
  transform-origin: 0 0;
}
/* line 248, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .shape {
  z-index: 1;
}
/* line 251, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .shape:before {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
/* line 256, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .block {
  top: 0;
}
/* line 260, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) h2 {
  background-color: #ddf;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  padding: .25em 1em;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  text-shadow: -1px 1px 1px #999;
  font-weight: 100;
  z-index: 1;
}
/* line 272, ../sass/_layouts.scss */
.spread.fixed .fixed_step .bounds {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
/* line 279, ../sass/_layouts.scss */
.spread.fixed .fixed_step .textholder {
  pointer-events: none;
  overflow: hidden;
}
/* line 285, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected):hover .bounds {
  background-color: orange;
}
/* line 289, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .bounds {
  border-radius: 15px;
  border: 2px dashed;
  opacity: .3;
}
/* line 295, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls {
  position: absolute;
  right: 0;
  font-size: 15px;
  color: black;
}
/* line 301, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button {
  position: relative;
  width: 15px;
  height: 15px;
  line-height: 15px;
  display: inline-block;
}
/* line 308, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button:before {
  top: 0;
  left: 0;
  position: absolute;
  font-family: FontAwesome;
}
/* line 315, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button:hover:before {
  color: #911;
}
/* line 319, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.dot:before {
  content: "\0f10c";
}
/* line 323, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.dot.selected:before {
  content: "\0f111";
}
/* line 327, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.dot.selected:hover:before {
  color: black;
}
/* line 331, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.dot:hover:before {
  content: "\0f111";
}
/* line 335, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.left-arrow:before {
  content: "\0f053";
}
/* line 339, ../sass/_layouts.scss */
.spread.fixed .fixed_step .controls .button.right-arrow:before {
  content: "\0f054";
  left: 3px;
}
/* line 346, ../sass/_layouts.scss */
.spread.fixed .fixed_step:not(.selected) .controls {
  display: none;
}
/* line 351, ../sass/_layouts.scss */
.spread.fixed .step.extracted {
  max-width: 800px;
  margin: 0 auto;
}
/* line 356, ../sass/_layouts.scss */
.spread.fixed .sidebar.extracted {
  max-width: 800px;
  margin: 15px auto;
}
/* line 361, ../sass/_layouts.scss */
.spread.fixed .cell-image.extracted {
  margin: 15px auto;
  text-align: center;
}
/* line 366, ../sass/_layouts.scss */
.spread.fixed .highlight {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  display: block;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform .5s ease, width .5s ease, height .5s ease, background-color 1.0s ease;
}
/* line 378, ../sass/_layouts.scss */
.spread.fixed .highlight.highlighted {
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3) inset;
}
/* line 385, ../sass/_layouts.scss */
.spread.fixed h1 + .step.extracted {
  margin-top: 25px;
}
/* line 389, ../sass/_layouts.scss */
.spread.fixed .step.extracted + .image_holder {
  margin-top: 25px;
}
/* line 393, ../sass/_layouts.scss */
.spread.fixed .step.extracted:last-child {
  padding-bottom: 25px;
}

/* line 398, ../sass/_layouts.scss */
.spread.grid {
  padding-bottom: 50px;
}
/* line 401, ../sass/_layouts.scss */
.spread.grid .step {
  position: relative;
}
/* line 405, ../sass/_layouts.scss */
.spread.grid .interactive {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
}
/* line 410, ../sass/_layouts.scss */
.spread.grid .interactive .try-me {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 416, ../sass/_layouts.scss */
.spread.grid .interactive .contents {
  margin: 0 auto;
  transform: scale(0.5);
  transform-origin: 50% 0;
  -webkit-transition: transform .5s ease;
}
/* line 425, ../sass/_layouts.scss */
.spread.grid .interactive .contents.expanded {
  transform: scale(1);
}
/* line 430, ../sass/_layouts.scss */
.spread.grid .video video {
  display: block;
  margin: 0 auto;
}

/* line 436, ../sass/_layouts.scss */
div.sidebar {
  border: 2px solid black;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: top .5s ease, height 1s ease;
}
/* line 446, ../sass/_layouts.scss */
div.sidebar h2 {
  display: block;
  font-weight: bold;
  padding: .5em .5em;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  background-color: #e0d988;
  border-bottom: 2px solid black;
  text-align: left;
}
/* line 458, ../sass/_layouts.scss */
div.sidebar.overflowing .interior {
  overflow: scroll;
}
/* line 463, ../sass/_layouts.scss */
div.sidebar .interior p {
  padding: .75em .5em .75em .5em;
  font-size: 14px;
  line-height: 1.5em;
}
/* line 469, ../sass/_layouts.scss */
div.sidebar .interior img {
  display: block;
  margin: 0 auto;
  padding: 10px;
  max-width: 100%;
}

/* line 483, ../sass/_layouts.scss */
div.cell {
  /*
  	border: 2px solid black;
  	border-radius: 15px;
  */
  margin: 15px 5px;
  padding: 1em;
  width: 49%;
  /* leave cell overflow visible so the callout lines can extend beyond the cell? */
  /*	overflow: hidden;*/
}
/* line 494, ../sass/_layouts.scss */
div.cell .top {
  margin: 0 auto;
}
/* line 498, ../sass/_layouts.scss */
div.cell .bottom {
  margin: 0 auto;
}

/* line 504, ../sass/_layouts.scss */
.cell-image img {
  display: block;
  margin: 0 auto;
}

/* line 510, ../sass/_layouts.scss */
.diamond {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: Futura;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 5px;
}
/* line 523, ../sass/_layouts.scss */
.diamond:before {
  content: "";
  background-color: red;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(45deg);
}
/* line 532, ../sass/_layouts.scss */
.diamond span {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 541, ../sass/_layouts.scss */
.block {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-family: Futura;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  /*
  position: relative;
  margin-left: -38px;
  margin-right: 10px;
  */
  position: absolute;
  left: 5px;
  top: -8px;
}
/* line 563, ../sass/_layouts.scss */
.block:before {
  content: "";
  background-color: black;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 571, ../sass/_layouts.scss */
.block span {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 580, ../sass/_layouts.scss */
span.glossary {
  font-weight: bold;
}

/* line 584, ../sass/_layouts.scss */
.spacer {
  width: 0;
}

/* line 588, ../sass/_layouts.scss */
div.image-callout {
  font-size: 12px;
  position: absolute;
  padding: 0 1.5em;
}
/* line 593, ../sass/_layouts.scss */
div.image-callout span {
  display: block;
  padding: 0 3px;
}

/* line 599, ../sass/_layouts.scss */
.toc-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 0;
}

/* line 606, ../sass/_layouts.scss */
.toc {
  width: 100%;
  background-color: #ddd;
}
/* line 610, ../sass/_layouts.scss */
.toc .entry {
  width: 100%;
  background-color: #a0a0ff;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  color: white;
  line-height: 70px;
  padding-left: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
/* line 622, ../sass/_layouts.scss */
.toc .entry.selected {
  background-color: brown !important;
  color: white !important;
}
/* line 627, ../sass/_layouts.scss */
.toc .entry:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}
/* line 639, ../sass/_layouts.scss */
.toc .entry.chapter {
  height: 70px;
  font-size: 24px;
  text-shadow: -1px 1px 2px #666;
}
/* line 645, ../sass/_layouts.scss */
.toc .entry.spread {
  /*			height: 0 !important;*/
}
/* line 650, ../sass/_layouts.scss */
.toc .entry:hover .number {
  color: black;
}
/* line 655, ../sass/_layouts.scss */
.toc .entry .number {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  font-size: 3rem;
  padding-left: .25em;
}
/* line 664, ../sass/_layouts.scss */
.toc .entry .title {
  /*			position: absolute;
  			bottom: 0;
  			right: 0;
  			*/
  font-size: 1.25rem;
  text-align: right;
  padding: .5em .5em .5em .25em;
  line-height: 1.25em;
  text-shadow: 1px 1px 4px black;
  font-weight: 400;
  z-index: 100;
}
/* line 678, ../sass/_layouts.scss */
.toc .entry .thumbnail {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
  height: 50%;
  width: 50%;
  background-size: contain;
  opacity: .5;
}

/* line 691, ../sass/_layouts.scss */
#toc {
  -webkit-overflow-scrolling: touch;
}

/* line 696, ../sass/_layouts.scss */
#toc-header #header {
  background-color: #3a3a3a;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  padding: 14px 0 0 0;
  margin: 0;
}
/* line 705, ../sass/_layouts.scss */
#toc-header #header .half {
  width: 50%;
}
/* line 709, ../sass/_layouts.scss */
#toc-header #header .left {
  float: left;
}
/* line 713, ../sass/_layouts.scss */
#toc-header #header .right {
  float: right;
}
/* line 717, ../sass/_layouts.scss */
#toc-header #header .tiny {
  font-size: 10px;
  line-height: 8px;
}
/* line 722, ../sass/_layouts.scss */
#toc-header #header .number {
  font-size: 24px;
}

/* line 729, ../sass/_layouts.scss */
#toc-footer #search-icon {
  width: 100%;
  height: 100%;
  background-color: #3A3A3A;
  /*		margin-right: -4px;*/
  background-image: url(images/magnifying-glass.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 90% center;
}

/* line 741, ../sass/_layouts.scss */
#main-content {
  -webkit-overflow-scrolling: touch;
}

/* line 745, ../sass/_layouts.scss */
#main-center {
  overflow: hidden !important;
}

/* line 749, ../sass/_layouts.scss */
#content {
  position: relative;
  overflow: scroll;
  height: 100%;
}

/* line 755, ../sass/_layouts.scss */
#content-holder {
  background-color: #876CA2;
  width: 100%;
  box-shadow: 12px 0 24px -12px rgba(0, 0, 0, 0.7) inset;
  padding: 15px;
  /*
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  */
  position: relative;
}

/* line 769, ../sass/_layouts.scss */
#main-south {
  background-color: #efeffe !important;
}
/* line 772, ../sass/_layouts.scss */
#main-south #search-text {
  color: #D4D4D4;
  line-height: 70px;
  font-size: 24px;
  padding-left: 2em;
  vertical-align: top;
  float: left;
}
/* line 781, ../sass/_layouts.scss */
#main-south #fixed-layout-controls {
  float: left;
  margin-left: 3em;
}
/* line 785, ../sass/_layouts.scss */
#main-south #fixed-layout-controls button {
  height: 70px;
  width: 70px;
}
/* line 790, ../sass/_layouts.scss */
#main-south #fixed-layout-controls div#direct-buttons {
  display: inline-block;
}

/* line 796, ../sass/_layouts.scss */
#prev-ad {
  display: none;
}

/* line 800, ../sass/_layouts.scss */
#next-ad {
  display: none;
}

/* line 804, ../sass/_layouts.scss */
.ad {
  height: 150px;
  background-color: black;
  color: white;
  margin-top: 25px;
  display: inline-block;
  width: 100%;
  line-height: 150px;
  text-align: center;
}

/* line 815, ../sass/_layouts.scss */
#current-spread-name {
  position: fixed;
  z-index: 5;
  transition: top 1s ease-in-out;
  top: -50px;
  display: none;
}
/* line 822, ../sass/_layouts.scss */
#current-spread-name h1 {
  padding: .1em 1em .1em 1em;
  background-color: #333;
  color: white;
  border-radius: 0 0 15px 0;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

/* Loading spinner: */
/* line 834, ../sass/_layouts.scss */
.spinner {
  margin: 300px auto;
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
}

/* line 842, ../sass/_layouts.scss */
.cube1, .cube2 {
  background-color: black;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

/* line 854, ../sass/_layouts.scss */
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  /* line 860, ../sass/_layouts.scss */
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  /* line 861, ../sass/_layouts.scss */
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  /* line 862, ../sass/_layouts.scss */
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  /* line 863, ../sass/_layouts.scss */
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes cubemove {
  /* line 867, ../sass/_layouts.scss */
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }

  /* line 870, ../sass/_layouts.scss */
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }

  /* line 873, ../sass/_layouts.scss */
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }

  /* line 876, ../sass/_layouts.scss */
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }

  /* line 879, ../sass/_layouts.scss */
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/* ^ Loading spinner */
/* line 887, ../sass/_layouts.scss */
.testrect {
  position: absolute;
  border: 1px solid yellow;
  pointer-events: none;
}
